.b-box-date-editor ng-show="isDocumentOnline" 

  span.label.label-info.pull-left() {{ box.created_at | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}
  
  | &nbsp;
  span.glyphicon(
    ng-class="{'glyphicon-eye-open': editMode, 'glyphicon-edit': !editMode}"
    ng-click='editMode = !editMode')
  
  | &nbsp;

  label.label-activate ng-show="box.type == 'paragraph'"
    input type='checkbox' ng-model='box.enabled' ng-change="updateBoxStatus()"
    |  Активировать врез

  span.pull-right(ng-show="box.post_author && box.type == 'paragraph'") 
    | Автор: {{box.post_author}}

  span.pull-right(ng-show="!box.post_author && box.type == 'paragraph'") 
    | Автор: VedomostiLive
    
  .row(ng-show="editMode")
    .col-md-5
      .panel.panel-info
        .panel-heading: .panel-title Дата и время отправки
        .panel-body: .row
          .col-md-4
            br
            input.form-control#date(
              type="text"
              ng-model="box.created_at_one_way"
              placeholder="Дата"
              uib-datepicker-popup
              is-open="from_opened"
              ng-click="from_opened = true"
              ng-change="changed()")
          .col-md-4
            uib-timepicker ng-model="box.created_at_one_way" hour-step="1" minute-step="1" show-meridian="false" style="margin-top: -13px;" ng-change="changed()"
          .col-md-4
            br
            button.btn.btn-success role="button" ng-click="updateBox()"
              | Сохранить
