.b-urls
  margin-bottom: 15px

  .dropdown-menu
    left: auto !important
    right: 0 !important

  .date
    width: 90px
    line-height: 20px
    height: 20px
    text-align: center

  .glyphicon
    margin-left: 5px
    cursor: pointer

  .view
    input
      border: 0
      outline: none !important
      padding: 0
      margin: 0
      font-weight: bold
      background-color: transparent
      width: 100%
      color: black

  mark
    background: #f2dede

  .word
    cursor: pointer

  .words
    text-align: center
    margin-top: 10px

.b-urls_locked
  pointer-events: none
  background-color: red !important

  input, textarea, button, select
    pointer-events: none
    background-color: #aaa
