<div class="row">
    <div class="col-md-1">
        <span class="main-url"><input ng-change="promote(url)" ng-disabled="url.main || !can_promote(url)" ng-if="$parent.urls.length &gt; 1" ng-model="url.main" type="checkbox"/></span>
    </div>
    <div class="col-md-10">
        <div class="path form-inline" ng-if="url.edit_mode">
            <span ng-repeat="part in splitted_mask track by $index">
                <ng-switch on="part.view.type">
                    <ng-switch-when ng-switch-when="pseudo_id">
                        <span>{{ url[part.name] }}</span>
                    </ng-switch-when>
                    <ng-switch-when ng-switch-when="datepicker"><input class="form-control input-sm date" datepicker-append-to-body="true" is-open="opened" ng-click="opened = true" ng-disabled="url.fixed" ng-model="url[part.name]" type="text" uib-datepicker-popup=""/></ng-switch-when>
                    <ng-switch-when ng-switch-when="select">
                        <select ng-disabled="(part.name != &#39;domain&#39; &amp;&amp; !url.domain)" ng-if="part.name != &#39;rubric&#39;" ng-model="url[part.name]" ng-options="item.slug as item.slug for item in sources[part.name] "></select>
                        <select ng-disabled="(part.name != &#39;domain&#39; &amp;&amp; !url.domain)" ng-if="part.name == &#39;rubric&#39;" ng-model="url[part.name]" ng-options="item.slug as item.slug for item in selectedCategories"></select>
                    </ng-switch-when>
                    <ng-switch-when ng-switch-when="translit">
                        <span ng-bind="url[part.name]"></span>
                    </ng-switch-when>
                    <ng-switch-when ng-switch-when="keywords">
                        <mark ng-if="isEmptySlug">Выберите слова, а то ссылка не сохранится!</mark>
                        <span ng-if="!isEmptySlug" ng-repeat="word in url.slug track by $index">
                            <span ng-if="word !== &#39;null&#39;">-</span>
                            <span class="word" ng-bind="word" ng-if="word !== &#39;null&#39;"></span>
                        </span>
                        <div class="words">
                            <span ng-repeat="word in url.translit track by $index">
                                <span ng-if="$index !== 0">-</span>
                                <span class="word" ng-bind="word" ng-class="{&#39;label label-success&#39;: url.translit[$index] == url.slug[$index]}" ng-click="toggleWord($event, $index)"></span>
                            </span>
                        </div>
                    </ng-switch-when>
                    <ng-switch-when ng-switch-when="text">
                        <span ng-bind="part.value" ng-if="part.value !== &#39;-&#39;"></span>
                    </ng-switch-when>
                </ng-switch>
            </span>
        </div>
        <div class="view" ng-if="!url.edit_mode">
            <a ng-href="{{ tmp(compiled_url(splitted_mask, url)) }}">{{ compiled_url(splitted_mask, url) }}</a>
        </div>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-remove pull-right" ng-click="remove(url)" ng-if="can_delete(url)"></span>
        <span class="glyphicon pull-right" ng-class="{ &#39;glyphicon-eye-open&#39;: url.edit_mode, &#39;glyphicon-edit&#39;: !url.edit_mode}" ng-click="toggle_mode(url)" ng-if="!url.fixed"></span>
    </div>
</div>
