<div class="b-urls">
  <div class="well well-lg" ng-show="mask">
    <h4>
      Ссылки
    </h4>
    <ul class="list-group">
      <li class="list-group-item" ng-class="{ &#39;list-group-item-success&#39;: url.main }" ng-repeat="url in urls | orderBy:[&#39;-main&#39;]" rm-url="" url="url"></li>
    </ul>
    <div class="actions">
      <button class="btn btn-primary pull-right" ng-click="add()" ng-if="document.published">Новая ссылка</button>
      <button class="btn btn-primary" ng-click="save()" ng-disabled="!isWordsSelected">Сохранить ссылки</button>
      <span class="lock-editor" ng-click="Locker.unlock(true)" ng-show="locked" title="Разблокировать модуль">
        <span class="glyphicon glyphicon-lock locked"></span>
        <span class="editor-name">{{ Locker.editor() }}</span>
      </span>
      <span class="self-lock" ng-show="Locker.lock_by_me()">Заблокировано вами </span>
    </div>
  </div>
  <div ng-show="document.published">
    <br />
    <div class="input-group">
      <input class="form-control" ng-model="raw_url" placeholder="URL на старом САЙТЕ" type="text" />
      <div class="input-group-btn">
        <button class="btn btn-success" ng-click="update_raw_url(raw_url)">Сохранить</button>
      </div>
    </div>
  </div>
</div>
