.header ng-if="!nested"
  .row
    .col-md-12
      h3 {{ settings.boxes[box.type].label }}
      .body
        .side-panel.pull-left
          span.button ng-click='editor.set_view_mode(box, false)'
            .icon.icon-edit ng-class="{ 'icon-edit_active': !box.view_mode }"
            span ng-if='!box.children'  Редактировать
            span ng-if='box.children'  Редактировать {{ box.children.length }} эл.
          label.button ng-show='editor.document().published && editor.document().part == "online"'
            input type='checkbox' ng-model='box.enabled' ng-change='updateBoxStatus(box)'
            span Активировать врез
          span.button(ng-if="box.align && box.type == 'inset_link'")
            i.icon(class="icon-align-{{box.align}}")
            | {{ box.align == 'left' ? 'Врез с картинкой слева' : 'Врез - зеленая ссылка по центру' }}

        .side-panel.pull-right
          span.button ng-click='editor.removeManual(point, box)'
            .icon.icon-trash
            | Удалить

          span.button ng-click='editor.set_view_mode(box)'
            .icon ng-class="{ 'icon-up': !box.view_mode, 'icon-down': box.view_mode }"
            span ng-show='box.view_mode'  Развернуть
            span ng-show='!box.view_mode'  Свернуть

        div(style="clear: both;" ng-if="box.type == 'inset_link'")
          rm-document-linked(box="box" document="null")
