<div class="b-background"></div>
<form class="b-login-form" name="form" ng-submit="authenticate(editor)">
  <a class="b-logo" href="http://vedomosti.ru"></a>
  <div class="form-group" ng-class="{ &quot;has-error&quot;: form.$invalid }">
    <input autofocus="" class="b-form-control form-control input-sm" name="login" ng-change="remove_has_error_class()" ng-class="{ transparent: login_is_empty(editor.login) }" ng-model="editor.login" placeholder="Логин" type="text" />
    <div class="b-icon-man"></div>
    <div class="b-icon-man_red"></div>
  </div>
  <div class="form-group" ng-class="{ &quot;has-error&quot;: form.$invalid }">
    <input class="b-form-control form-control input-sm" name="password" ng-change="remove_has_error_class()" ng-class="{ transparent: password_is_empty(editor.password) }" ng-model="editor.password" placeholder="Пароль" type="password" />
    <div class="b-icon-lock"></div>
    <div class="b-icon-lock_red"></div>
  </div>
  <button class="btn btn-lg btn-block b-form-submit btn-sm" ng-disabled="!can_login(editor)">Войти</button>
</form>