<div class="b-box" ng-class="{'bg-danger': status.isUnpublished}">
  <rm-box-header box="box" nested="nested" point="point"></rm-box-header>
  <div class="b-boxes-container" ng-if="!box.view_mode">
    <div class="row">
      <div class="col-md-12">
        <br />
        <span class="upload-images" ngf-select='uploadImages($files, "top")' multiple="true">
          + Загрузить картинки
        </span>
        <span class="upload-images" ng-click="addSlide('top')">
          + Добавить слайд
        </span>
        <br>
        <br>
        <ul class="list-group" as-sortable="sort_processor" ng-model="box.children">
          <rm-box-gallery-image ng-repeat="current_box in box.children | limitTo:slidesLimit track by current_box.id" nested="true" point="box" box="current_box" as-sortable-item=""></rm-box-gallery-image>
        </ul>
        <br>
        <button class="btn btn-primary center-block" style="text-align: center" ng-click="showMoreSlides()" ng-show="slidesLimit < box.children.length">
          Показать еще
        </button>
      </div>
    </div>
  </div>
</div>
