.b-box-selector
  .icon  
    position: absolute
    top: 0
    cursor: pointer

  .icon_left
    left: 5px

  .icon_right
    right: 5px

  .icon_center
    left: 50%
    margin-left: -8px
  
  .icon-point
    background: url('../images/icons/point.png') no-repeat 0 0
    width: 19px
    height: 19px

  .placeholder
    height: 19px
    margin: 5px 0
    position: relative
    transition: opacity .2s
    opacity: 0
    &:hover
      opacity: 1

    .dashed  
      position: relative
      border-top: 1px dashed #e7e7e7
      height: 0
      overflow: hidden
      top: 9px

  .boxes-panel
    margin: 15px 0
    position: relative
    padding: 15px
    text-align: center
    .icon
      top: -9px

    .buttons
      display: inline-block
      height: 33px
      line-height: 30px
      background-color: #fcfcfc
      border: 1px solid #c8c9cd
      border-bottom: 2px solid #c8c9cd
      border-radius: 3px
      font-size: 14px
      font-family: Georgia
      .button
        display: inline-block
        vertical-align: top !important
        padding-left: 10px
        padding-right: 10px
        border-right: 1px solid #c8c9cd
        cursor: pointer
        overflow: hidden
        &:hover
          color: #c14838
      .button:last-child
        border-right: 0
      .cancel
        font-weight: bold


.b-box-selector_active
  opacity: 1
