<div class="b-box-selector">
  <div class="placeholder">
    <div class="dashed"></div>
    <div class="icon icon-point icon_left" ng-click="align('left')"></div>
    <div class="icon icon-point icon_center" ng-click="align('center')"></div>
    <div class="icon icon-point icon_right" ng-click="align('right')"></div>
  </div>
  <div class="b-boxes-container boxes-panel" ng-if="new_box">
    <div class="icon icon-point_hover icon_left" ng-if="'left' == new_box.align"></div>
    <div class="icon icon-point_hover icon_center" ng-if="'center' == new_box.align"></div>
    <div class="icon icon-point_hover icon_right" ng-if="'right' == new_box.align"></div>
    <div class="btn-group">
      <span class="btn btn-primary btn-xs" ng-click="addTop(box.type)" ng-repeat="box in only_root_level | orderBy:'box.box.label'" ng-if="position == 'top'">
        {{box.box.label}}
      </span>
      <span class="btn btn-primary btn-xs" ng-click="add(box.type)" ng-repeat="box in only_root_level | orderBy:'box.box.label'" ng-if="position == 'bottom' || !position">
        {{box.box.label}}
      </span>
      <span class="btn btn-warning btn-xs" ng-click="reset()">Отменить</span>
    </div>
  </div>
</div>
