#statistics-panel

  .spin-animate
    transition: transform 0.5s ease-in-out
    -webkit-transition: transform 0.5s ease-in-out
    -moz-transition: transform 0.5s ease-in-out
    -o-transition: transform 0.5s ease-in-out
    -ms-transition: transform 0.5s ease-in-out

    transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -ms-transform: rotate(360deg)
