#statistics-panel.panel
  .panel.panel-heading
    h1
      a.pull-left ui-sref="logged.documents.edit({ id: document.id })" title='К документу' &larr;
      | &nbsp;
      span Статистика

  .panel-body.container
    .row
      .col-md-12
        ul.nav.nav-tabs
          li ng-class='{"active": type == "common"}' ng-click='setType("common")'
            a Общее
          li ng-class='{"active": type == "visits"}' ng-click='setType("visits")'
            a Просмотры
          li ng-class='{"active": type == "social"}' ng-click='setType("social")'
            a Соц. сети

        .tab-content
          .tab-pane.active
            br
            .col-md-4
              label Дата начала
              input.form-control type="text" uib-datepicker-popup="" ng-change="renderChart()" ng-model="startDate" placeholder="Начало" is-open='from_opened' datepicker-options="datepickerOptions" ng-click='from_opened = true'

            .col-md-4
              label Дата конца
              input.form-control type="text" uib-datepicker-popup="" ng-change="renderChart()" ng-model="endDate" placeholder="Конец" is-open='to_opened' ng-click='to_opened = true' datepicker-options="datepickerOptions"


            .col-md-3.col-md-offset-1
              label Интервал
              select.form-control ng-model="interval" ng-change="renderChart()"
                option value="5m" ng-disabled='!checkAllowedInterval("5m")' 5 минут
                option value="1h" ng-disabled='!checkAllowedInterval("1h")' 1 час
                option value="1d" ng-disabled='!checkAllowedInterval("1d")' 1 день
                option value="1w" ng-disabled='!checkAllowedInterval("1w")' 1 неделя
                option value="1M" ng-disabled='!checkAllowedInterval("1M")' 1 месяц

      .row
        .col-md-12
          hr
          nvd3 (
            api='chart.api'
            options='chart.options'
            config='chart.config'
            data='chart.data'
            class="with-transitions"
          )

          hr
          .row ng-show="isAllowedToUpdate()"
            .col-md-12
              .small.pull-right
                | Статистика обновляется каждую минуту &nbsp;
                button.btn.btn-default.btn-xs ng-click='renderChart()' title='Обновить' ng-disabled='spinLoader'
                  span.glyphicon.glyphicon-refresh ng-class='{"spin-animate": spinLoader}' aria-hidden='true'

