.b-imported-news
  .form-group
    margin-right: 30px

  th
    vertical-align: middle !important

  label
    margin-right: 5px
    
  .from, .to
    width: 100px
    text-align: center

  .date, .source
    white-space: nowrap
    width: 150px
    
  .empty
    text-align: center
    font-size: 18px
    padding: 30px 
    
    
  .glyphicon
    cursor: pointer
      
  dl
    margin-bottom: 0
    
  .body
    font-size: 13px
    
