<div class="container-fluid b-imported-news">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Новости из источников
        </h1>
      </div>
      <div class="panel panel-default">
        <div class="panel-body form-inline text-center">
          <div class="form-group">
            <div class="row">
              <div class="col-md-5">
                <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filters.date_from" placeholder="начало" type="text" uib-datepicker-popup="" />
              </div>
              <div class="col-md-1">
                &ndash;
              </div>
              <div class="col-md-5">
                <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filters.date_to" placeholder="конец" type="text" uib-datepicker-popup="" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Выводить</label><select ng-model="filters.limit" ng-options="limit for limit in ::limits"></select><label>&nbsp;&nbsp;новостей</label>
          </div>
          <div class="form-group">
            <label>Сортировать по</label><select ng-model="filters.order" ng-options="item.value as item.title for item in ::order"></select>
          </div>
        </div>
      </div>
      <div class="empty" ng-if="news &amp;&amp; !news.length">
        Новости за указанный период не найдены.
      </div>
      <table class="table" ng-if="news &amp;&amp; news.length">
        <thead>
          <th></th>
          <th class="form-inline">
            Заголовок<input class="pull-right form-control input-sm" ng-model="filter_value" placeholder="быстрый поиск" type="search" />
          </th>
          <th>
            Дата
          </th>
          <th>
            Источник
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-class="{ success: item.more }" ng-repeat-start="item in news | filter:filter_value track by item.id">
            <td class="text-center">
              <a href="{{ ::item.url }}" target="_blank">
                <div class="glyphicon glyphicon-link"></div>
              </a>
            </td>
            <td>
              <a href="#" ng-click="toggle(item)">{{ ::item.title }}</a>
            </td>
            <td class="date">
              <small>{{ ::item.news_date | amDateFormat: 'HH:mm, DD MMM.' }}</small>
            </td>
            <td class="source">
              <small><a href="{{ ::item.import_source.url }}" target="_blank">{{ ::item.import_source.title }}</a></small>
            </td>
            <td class="text-center">
              <div class="glyphicon glyphicon-chevron-up" ng-click="toggle(item)" ng-if="!item.more" title="Больше информации"></div>
              <div class="glyphicon glyphicon-chevron-down" ng-click="toggle(item)" ng-if="item.more" title="Меньше информации"></div>
            </td>
          </tr>
          <tr ng-if="item.more" ng-repeat-end="">
            <td colspan="5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Дополнительная информация<span class="btn btn-success btn-xs pull-right" ng-click="create_news(item)">Создать новость &rarr;</span>
                </div>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-default">
                    <dl class="dl-horizontal">
                      <dt>
                        Загружено
                      </dt>
                      <dd>
                        {{ ::item.updated_at | amDateFormat: 'HH:mm, DD MMM.' }}
                      </dd>
                      <dt ng-repeat-start="(key, value) in ::item.data track by key">
                        {{ key }}
                      </dt>
                      <dd ng-repeat-end="">
                        {{ value }}
                      </dd>
                    </dl>
                  </li>
                  <li class="list-group-item body" ng-bind-html="::format(item.body)"></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="tright" colspan="5">
              <strong>{{ news.length }} новостей    </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>