<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Редактирование группы
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <form name="form" ng-submit="update(group)">
        <div class="form-group">
          <label>Название</label><input class="form-control input-lg" name="title" ng-model="group.title" type="text" />
        </div>
        <div class="form-group">
          <label>Алиас</label><input class="form-control input-lg" name="slug" ng-model="group.slug" type="text" />
        </div>
        <div class="form-group">
          <label>Позиция для сортировки</label><input class="form-control input-lg" name="position" ng-model="group.position" type="number" />
        </div>
        <button class="btn btn-primary" ng-disabled="form.$pristine" type="submit">Сохранить группу</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h5>
        Пользователи группы
      </h5>
      <div ng-repeat="editor in editors">
        <label><input ng-change="update_editors(editor)" ng-model="editor.checked" type="checkbox" />&nbsp;{{ editor.first_name }} {{ editor.last_name }}</label>
      </div>
    </div>
  </div>
</div>