<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Группы пользователей<span class="pull-right"><input class="form-control" ng-model="filter" placeholder="быстрый поиск" type="search" /></span>
      </h1>
    </div>
    <table class="table table-condenced">
      <thead>
        <tr>
          <th class="min">
            #
          </th>
          <th>
            Название<a class="btn btn-primary btn-xs pull-right" ui-sref="logged.groups.new">Новая группа </a>
          </th>
          <th>
            Алиас
          </th>
          <th class="min">
            Пользователи
          </th>
          <th class="min">
            Позиция
          </th>
        </tr>
      </thead>
      <tr ng-repeat="group in groups | filter:filter track by group.id">
        <td>
          {{ ::($index + 1) }}
        </td>
        <td>
          <a ui-sref="logged.groups.edit({ id: group.id })">{{ ::group.title }}</a>
        </td>
        <td>
          <span class="label label-info">{{ ::group.slug }}</span>
        </td>
        <td class="tcenter">
          <span class="label label-success" ng-if="::group.editor_ids.length">{{ ::group.editor_ids.length }}</span>
        </td>
        <td class="center">
          {{ ::group.position }}
        </td>
      </tr>
    </table>
  </div>
</div>