<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Новая группа
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <form name="form" ng-submit="create(group)">
        <div class="form-group">
          <label>Название группы</label><input class="form-control input-lg" name="title" ng-model="group.title" type="text" />
        </div>
        <div class="form-group">
          <label>Алиас</label><input class="form-control input-lg" name="slug" ng-model="group.slug" type="text" />
        </div>
        <div class="form-group">
          <label>Позиция для сортировки</label><input class="form-control input-lg" name="position" ng-model="group.position" type="number" />
        </div>
        <button class="btn btn-primary" ng-disabled="form.$pristine" type="submit">Создать новую группу</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>