.b-background
  width: 100%
  height: 100%
  position: absolute
  background: url('../images/auth/bg.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
