.b-logo
  display: inline-block
  background: url("../images/auth/vedomosti-logo-retina.png") no-repeat 50% 50%
  background-size: 165px 30.5px
  width: 165px
  height: 30.5px
  width: 100%
  margin-bottom: 25px
