//some variables
$red: rgb(223,17,17)
$white: rgb(255,255,255)
$gray: rgb(243,243,243)
$gray2: rgb(207,207,207)
$black: rgb(0,0,0)

.b-login-form
  background: $white
  position: absolute
  top: 50%
  margin-top: -194px
  width: 460px
  left: 50%
  margin-left: -230px
  padding: 35px 60px 50px 60px

  .form-group
    margin-bottom: 10px
    position: relative

  &.ng-invalid-error
    -webkit-animation: shake .4s linear
    -moz-animation: shake .4s linear

/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake
  8%, 41%
    -webkit-transform: translateX(-10px)
  25%, 58%
    -webkit-transform: translateX(10px)
  75%
    -webkit-transform: translateX(-5px)
  92%
    -webkit-transform: translateX(5px)
  0%, 100%
    -webkit-transform: translateX(0)

@-moz-keyframes shake
  8%, 41%
    -moz-transform: translateX(-10px)
  25%, 58%
    -moz-transform: translateX(10px)
  75%
    -moz-transform: translateX(-5px)
  92%
    -moz-transform: translateX(5px)
  0%, 100%
    -moz-transform: translateX(0)


.b-form-control
  font: 24px 'Roboto', sans-serif
  color: $black
  height: 50px
  background: $white
  padding: 0 20px

  .ng-pristine &
    background: $gray

  &:focus,
  .form-group.has-error &
    border: 1px solid $gray2
    box-shadow: none
    background: $white


.b-form-submit
  $red: rgb(220,69,48)

  background: rgb(51,51,51)
  color: $white
  font: normal 18px/40px 'Roboto', sans-serif
  margin-top: 50px
  outline: none!important

  &:hover,
  &:focus
    color: $white
    background: $red

  &:active
    margin-top: 51px
    margin-bottom: -1px

  &:disabled
    opacity: 0.5
    outline: none

  &::-webkit-input-placeholder
    color: $gray2!important
  &:-moz-placeholder
    color: $gray2!important
  &::-moz-placeholder
    color: $gray2!important
  &:-ms-input-placeholder
    color: $gray2!important


.b-forget-password,
.b-forget-password:hover
  text-align: center
  color: $black
  margin-top: 25px
  display: inline-block
  width: 100%
  font: normal 12px 'Roboto', sans-serif
  text-decoration: none


.b-icon-man
  position: absolute
  width: 25px
  height: 55px
  width: 60px
  left: -60px
  top: 0px
  background: url("../images/auth/man_black.png") 13px 10px no-repeat
  padding-bottom: 5px


  .b-form-control.transparent + &
    opacity: 0.25
    border-left: none

  .form-group.has-error &
    display: none


.b-icon-man_red
  @extend .b-icon-man
  background: url("../images/auth/man_red.png") 13px 10px no-repeat
  display: block
  opacity: 0


  .form-group.has-error &
    display: block
    opacity: 1


.b-icon-lock
  position: absolute
  width: 25px
  height: 55px
  width: 60px
  left: -60px
  top: -5px
  background: url("../images/auth/lock_black.png") 12px 13px no-repeat
  padding-top: 5px


  .form-group.has-error &
    display: none

  .b-form-control.transparent + &
    opacity: 0.25
    border-left: none



.b-icon-lock_red
  @extend .b-icon-lock
  background: url("../images/auth/lock_red.png") 12px 13px no-repeat
  opacity: 0
  display: block


  .form-group.has-error &
    display: block
    opacity: 1
