<div class="panel panel-info">
  <div class="panel-heading">
    Основные операции
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="record in ::records | orderBy:at">
      <span class="small">{{ ::record.editor }}</span>&nbsp;&rarr;&nbsp;
      <div class="label label-info">
        {{ ::record.at | amDateFormat:'YYYY-MM-DD HH:mm' }}
      </div>
      &nbsp;&rarr;&nbsp;
      <div class="label label-success">
        {{ ::record.type}}
      </div>
    </li>
  </ul>
</div>