<label>
  <input ng-change="change(category)" ng-model="category.checked" type="checkbox" />&nbsp;<span class="domain" ng-bind="::category.title" ng-if="root"></span><span ng-bind="::category.title" ng-if="!root"></span>
</label>
<ul ng-if="category.children">
  <li ng-if="::category.enabled" ng-include="categoryTemplate" ng-repeat="category in ::category.children | checkTree:currentcategory.forbidden_combinations"></li>
</ul>
