.form-group ng-if="present_in_column(control, column_number)" ng-class='{"has-error": control.required && !document[control.name] && highlightInput}' ng-repeat=("control in settings.attributes")
  ng-switch on="control.type"

    ng-switch-when ng-switch-when="string"
      .line ng-hide=("control.name == 'created_at' || control.name == 'post_author_id' || control.name == 'post_author' && part != 'online'")
        rm-field-counter max=("{{ control.max_chars }}") min=("{{ control.min_chars }}") value="document[control.name]"
        label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
        input.form-control class=("{{ control.class }}") ng-blur="replaceQuotes(document[control.name], control.name)" name=("{{ control.name }}") ng-disabled="control.disabled" ng-model="document[control.name]" placeholder=("{{ control.placeholder }}") rows=("{{ control.rows }}") type="text" /
        span.help-block ng-bind="control.hint" ng-if="control.hint"

    ng-switch-when ng-switch-when="datetime_with_checkbox"
      .row ng-show='checkDependencies(control.dependencies)'
        .line.col-md-3
          label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
          .input-group
            span.input-group-addon
              input(
                ng-change="control.enabled ? document[control.name] = getDate(control.name) : document[control.name] = null"
                ng-init="document[control.name] == null ? control.enabled = false : control.enabled = true"
                ng-model="control.enabled"
                type="checkbox")
            input.form-control(
              class="{{ control.class }}"
              is-open="from_opened"
              min-date="datepickerOptions.minDate"
              name="{{ control.name }}"
              ng-click="from_opened = true"
              ng-disabled="document[control.name] == null"
              ng-model="document[control.name]"
              placeholder="{{ control.placeholder }}"
              rows="{{ control.rows }}"
              type="text"
              uib-datepicker-popup=""
              datepicker-localdate="")
          div(
            uib-timepicker=""
            hour-step="1"
            minute-step="1"
            ng-hide="document[control.name] == null"
            ng-model="document[control.name]"
            show-meridian="false"
            datepicker-localdate="")

    ng-switch-when ng-switch-when="text"
      .line
        rm-field-counter max=("{{ control.max_chars }}") min=("{{ control.min_chars }}") value="document[control.name]"
        label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
        textarea.form-control class=("{{ control.class }}") name=("{{ control.name }}") ng-disabled="control.disabled" ng-model="document[control.name]" placeholder=("{{ control.placeholder }}") rows=("{{ control.rows }}") ng-blur="replaceQuotes(document[control.name], control.name)"
        span.help-block ng-bind="control.hint" ng-if="control.hint"

    ng-switch-when ng-switch-when="html"
      .line
        rm-field-counter max="{{ control.max_chars }}" min="{{ control.min_chars }}" value="document[control.name]"
        label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
        rm-redactor class="{{ control.class }}" name="{{ control.name }}" focus="false" embed="document[control.name]" buttons="['html','link']"
        span.help-block ng-bind="control.hint" ng-if="control.hint"

    ng-switch-when ng-switch-when="boolean"
      .checkbox ng-init=("document[control.name] == false || document[control.name] == 'false' ? document[control.name] = false : null")
        label ng-init=("document[control.name] == true || document[control.name] == 'true' ? document[control.name] = true : null") ng-class='{"required": control.required}'
          input class=("{{ control.class }}") name=("{{ control.name }}") ng-disabled="control.disabled" ng-model="document[control.name]" type="checkbox"
          | {{ control.label }}

    ng-switch-when ng-switch-when="image"
      label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
      span.help-block ng-bind="control.hint" ng-if="control.hint"
      rm-uploader document="document" kind=("{{ control.kind }}") name=("{{ control.name }}") type="image"

    ng-switch-when ng-switch-when="file"
      label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
      span.help-block ng-bind="control.hint" ng-if="control.hint"
      rm-uploader document="document" kind=("{{ control.kind }}") name=("{{ control.name }}") type="file"

    ng-switch-when ng-switch-when="document"
      label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
      rm-document-finder filter="control['filter']" link="document[control.name]"
      span.help-block ng-bind="control.hint" ng-if="control.hint"

    ng-switch-when ng-switch-when="align"
      label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
      select.form-control name=("{{ control.name }}") ng-model="document[control.name]" ng-options=("align.kind as align.label for align in align_types")
        option value=""
          | — режим выравнивания бокса —

    ng-switch-when ng-switch-when="category"
      label ng-bind="control.label" ng-if="control.label" ng-class='{"required": control.required}'
      select.form-control name=("{{ control.name }}") ng-model="document[control.name]" ng-options=("category.id as category.title for category in categoriest_child_of(control.children_of)")
        option value=""
          | — выберите категорию —

    ng-switch-when ng-switch-when='select_map'
      label(ng-if='control.label' ng-bind='control.label') ng-class='{"required": control.required}'
      select.form-control ng-options='map.json as map.label for map in maps' name='{{ control.name }}' ng-model="document[control.name]"
        option value=""
          | — выберите карту —

    ng-switch-when ng-switch-when='legend_map'
      .form-group
        label Заголовок легенды
        input.form-control type="text" ng-model="document[control.name].legend_title" placeholder="Заголовок легенды"
      label Данные для легенды
      .form-inline(ng-repeat="domain in document[control.name].color_range track by $index")
        .form-group
          label(style="min-width: 40px;")
            | {{ $index == 0 ? 0 : document[control.name].color_domain[$index-1] }} -
          input.form-control(
            style="width: 60px;"
            type="text"
            ng-disabled="($index+1) == document[control.name].color_range.length"
            ng-model="document[control.name].color_domain[$index]")
          | &nbsp;
          input.form-control(
            style="cursor: pointer; width: 40px; font-size: 0; background: {{ document[control.name].color_range[$index] }};"
            colorpicker
            colorpicker-with-input="true"
            type="text"
            ng-hide="!$root.auth.isAdmin()"
            ng-model="document[control.name].color_range[$index]")
          | &nbsp;
          input.form-control style="width: 500px;" type="text" ng-model="document[control.name].legend[$index]" placeholder="Данные для легенды"
          | &nbsp;
          button.btn.btn-xs.btn-danger(ng-click="removeLegend(document[control.name], $index)")
            i.glyphicon.glyphicon-trash
            | &nbsp; Удалить
      br
      button.btn.btn-primary(ng-click="addNewLegend(document[control.name])" ng-hide="!$root.auth.isAdmin()") + Добавить данные
