<div class="b-dynamic-form" ng-if="settings">
  <h3 ng-bind="settings.label" ng-if="settings.label &amp;&amp; label"></h3>
  <form name="form">
    <div class="row" ng-if="settings.hint">
      <div class="col-md-12" ng-bind="settings.hint"></div>
    </div>
    <div class="row" ng-if="settings.layout.columns">
      <div class="col-md-{{ column_size }}" ng-include="controlsTemplate" ng-init="column_number = $index + 1" ng-repeat="column_size in settings.layout.columns track by $index"></div>
    </div>
    <div class="row" ng-if="!settings.layout.columns">
      <div class="col-md-12" ng-include="controlsTemplate" ng-init="column_number = 1"></div>
    </div>
  </form>
  <div class="form-group" ng-show="action">
    <span class="btn btn-primary btn-sm" ng-click="update(document)">Сохранить изменения</span>
  </div>
</div>
