.b-taggings
  margin-top: 25px
  
  .section
    border: 1px solid #cccccc
    border-radius: 5px
    padding: 10px
    margin-bottom: 15px
  
  .tag
    margin-top: 10px
    margin-right: 5px
    .glyphicon
      margin-left: 5px
