<form class="b-taggings" name="form">
  <h4>
    Теги
  </h4>
  <div ng-repeat="type in document.settings.taggings.allowed_types">
    <div class="section">
      <div class="input-group">
        <input class="form-control input-sm" name="{{ type }}" ng-model="new_tags[type]" placeholder="{{ type }}" type="text" typeahead-min-length="2" typeahead-wait-ms="400" uib-typeahead="tag.title for tag in find_tags($viewValue, type) | limitTo:8" /><span class="input-group-btn"><button class="btn btn-info btn-sm" ng-click="add(type, new_tags[type])" ng-disabled="form[type].$pristine"><span class="glyphicon glyphicon-plus"></span></button></span>
      </div>
      <div class="tags">
        <button class="btn btn-success btn-xs tag" ng-if="taggings[type]" ng-repeat="tag in taggings[type].tags"><span ng-bind="tag.title"></span><span class="glyphicon glyphicon-remove" ng-click="remove(type, tag)"></span></button>
      </div>
    </div>
  </div>
</form>