.b-notify
  position: fixed
  right: 0
  top: 0
  z-index: 100
  padding: 10px
  

.b-notify-message
  $white: rgb(255,255,255)
  $red: rgb(221,69,48)
  $green: rgb(90,190,89)
  $blue: rgb(86,192,224)
  $light-gray: rgb(120,120,120)
  $light-gray2: rgb(183,183,183)
  $light-gray-with-opacity: rgba(37,37,37, 0.3)
  $gray: rgb(76,76,76)
  $gray2: rgb(58,58,58)
  $black: rgb(37,37,37)
  $black-with-opacity: rgba(0,0,0, 0.8)

  position: relative
  background: $black-with-opacity
  width: 330px
  min-height: 75px
  padding: 2px 0 2px 70px
  margin: 0 0 20px 0
  border-radius: 5px
  box-shadow: $light-gray2, 2px, 2px, 5px
  // +single-transition(all, .5s)

  .close_message
    position: absolute
    top: 10px
    right: 10px
    width: 20px
    height: 20px
    text-align: center
    line-height: 19px
    color: $white
    border-radius: 20px
    background: $gray
    cursor: pointer
    font: 14px 'Roboto', sans-serif
    text-decoration: none

    &:hover
      background: $light-gray

  .icon
    background: url("../images/notify/notify_icons.png")
    position: absolute
    left: 17px
    width: 40px
    height: 40px
    top: 50%
    margin-top: -20px

  &.b-notify-message_info
    border-left: 5px solid $blue

    .icon
      background-position: -40px -40px

    .b-message-body:before
      content: 'Инфо'
      color: $white
      display: block
      font: 16px 'Roboto', sans-serif

  &.b-notify-message_error
    border-left: 5px solid $red

    .icon
      background-position: 0 -40px

    .b-message-body:before
      content: 'Ошибка'
      color: $white
      display: block
      font: 16px 'Roboto', sans-serif

  &.b-notify-message_success
    border-left: 5px solid $green

    .icon
      background-position: 0 0

    .b-message-body:before
      content: 'Успех'
      color: $white
      display: block
      font: 16px 'Roboto', sans-serif


.b-notify-message.ng-enter
  opacity: 0
  
.b-notify-message.ng-enter-active
  opacity: 1

.b-notify-message.ng-leave
  opacity: 1

.b-notify-message.ng-leave-active
  opacity: 0

.b-message-body
  $light-gray2: rgb(183,183,183)
  $gray2: rgb(58,58,58)
  $light-gray-with-opacity: rgba(37,37,37, 0.3)
  $blue: rgb(54,129,199)
  $blue2: rgb(61,144,222)
  $white: rgb(255,255,255)

  min-height: 70px
  padding: 16px 22px 16px 20px
  border-left: 1px solid $light-gray-with-opacity
  font: 13px 'Roboto', sans-serif
  color: $light-gray2
  box-shadow: $gray2, -1px, 0px, 0px

  button
    display: block
    background: $blue
    color: $white
    border-radius: 3px
    outline: none
    border: 0
    font: 11px 'Roboto', sans-serif
    padding: 6px 14px
    margin-top: 10px
    letter-spacing: 1px
    &:active
      position: relative
      margin-top: 11px
      margin-bottom: -1px

    &:hover,
    &:focus
      background: blue2


// .b-notify-message_info
//   background-color: yellow
  
// .b-notify-message.ng-enter
//   +single-transition(opacity, 10s)
//   opacity: 0
  
// .b-notify-message.ng-enter-active
//   opacity: 1

// .b-notify-message.ng-leave
//   opacity: 1

  
