<div class="row">
  <div class="col-md-12 b-redlines">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Красные строки
        </h3>
      </div>
      <table class="table table-condenced table-hover">
        <thead>
          <tr>
            <th>
              Метка
            </th>
            <th>
              Заголовок
            </th>
            <th>
              URL
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{&#39;success&#39;: redline.status || redline.status == &#39;on&#39;}" ng-if="redlines.length == 0">
            <td>
              <input class="form-control input-lg" disabled="true" value="СРОЧНО" />
            </td>
            <td class="title">
              <input class="form-control input-lg" ng-model="redline.title" placeholder="Введите заголовок" />
            </td>
            <td class="url">
              <input class="form-control input-lg" ng-model="redline.url" placeholder="Введите ссылку, если она есть" />
            </td>
            <td class="delete">
              <button class="btn btn-success" ng-click="addRedline(redline)" ng-disabled="!redline.title" type="button">Опубликовать</button>
            </td>
            <td class="delete">
              <button class="btn btn-danger" ng-click="removeRedline(redline)" ng-disabled="!redline.title" type="button">Убрать красную строку</button>
            </td>
          </tr>
          <tr ng-class="{&#39;success&#39;: redline.status || redline.status == &#39;on&#39;}" ng-if="redlines.length" ng-repeat="redline in redlines | orderBy: &#39;-id&#39;">
            <td>
              <input class="form-control input-lg" disabled="true" value="СРОЧНО" />
            </td>
            <td class="title">
              <input class="form-control input-lg" ng-model="redline.title" placeholder="Введите заголовок" />
            </td>
            <td class="url">
              <input class="form-control input-lg" ng-model="redline.url" placeholder="Введите ссылку, если она есть" />
            </td>
            <td class="delete">
              <button class="btn btn-success" ng-click="updateRedline(redline)" ng-disabled="!redline.title" type="button">Опубликовать</button>
            </td>
            <td class="delete">
              <button class="btn btn-danger" ng-click="removeRedline(redline)" ng-disabled="!redline.title" type="button">Убрать красную строку</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>