<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-body form-inline">
        <div class="row">
          <div class="col-md-1">
            <label>Период&nbsp;</label>
          </div>
          <div class="col-md-1">
            <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.start_date" placeholder="начало" type="text" uib-datepicker-popup="" />
          </div>
          <div class="col-md-1">
            <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.end_date" placeholder="конец" type="text" uib-datepicker-popup="" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-1">
            <label>Тип отчета&nbsp;</label>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-model="filter.kind" ng-options="key as value for (key, value) in reports_list">
              <option value="">
                — выберите тип отчета —
              </option>
            </select>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary" ng-click="generate(filter)">Генерировать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
