<div class="modal-header">
  <h3 class="modal-title">
    Вставка HTML
  </h3>
</div>
<div class="modal-body">
  <textarea autofocus="true" class="form-control" id="pasteHTML" ng-bind="html"></textarea>
</div>
<div class="modal-footer">
  <span class="btn btn-primary" ng-click="insertHTML()">ОК</span><button class="btn btn-warning" ng-click="close()">Отменить</button>
</div>