<div class="b-box-root" ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}">
  <div class="b-box">
    <rm-box-header box="box" nested="nested" point="point"></rm-box-header>
    <div class="b-boxes-container" ng-init="box.view_mode = true" ng-show="!box.view_mode">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="input-lg form-control" ng-model="box.json.title" placeholder="Заголовок *" type="text" />
          </div>
        </div>
      </div>
      <div class="b-box-table"></div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <textarea class="form-control" ng-model="box.json.description[0]" placeholder="Описание 1" type="text"></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" ng-model="box.json.description[1]" placeholder="Описание 2" type="text"></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" ng-model="box.json.description[2]" placeholder="Описание 3" type="text"></textarea>
          </div>
          <div class="form-group">
            <input class="input-sm form-control" ng-model="box.json.source" placeholder="Источник *" type="text" />
          </div>
        </div>
      </div>
      <button class="btn btn-success" ng-click="saveTable(box)" ng-disabled="!box.json.title || !box.json.source">Сохранить таблицу</button><button class="btn btn-danger" ng-click="removeTable()">Удалить таблицу</button><br />
    </div>
  </div>
</div>
