.b-search
  em
    background-color: #fffd38
    border: 1px solid #a2a2a2
    color: black
    zoom: 1.1
    font-style: normal
    border-radius: 2px

  .datetime
    color: #919191

  .content
    padding-right: 150px

  .more
    list-style: none
    font-size: 12px
    padding-left: 0
    margin-left: 20px
    padding-left: 10px
    border-left: 4px solid #dff0d8
    margin-top: 5px

  .title
    font-size: 18px
