<form name="form" ng-submit="go()">
  <div class="input-group">
    <input class="form-control input-lg" ng-model="filter.q" placeholder="название документа или его url" type="text" />
    <div class="input-group-btn">
      <button class="btn btn-success btn-lg" ng-disabled="!filter.q">Найти!</button>
    </div>
  </div>
  <br />
  <div class="text-center" ng-show="stats.total &gt; stats.per_page">
    <uib-pagination boundary-links="true" items-per-page="stats.per_page" max-size="5" ng-change="go()" ng-model="filter.page" total-items="stats.total"></uib-pagination>
  </div>
  <br />
  <div class="panel panel-success" ng-if="found.length">
    <div class="panel-heading">
      Найденые документы в порядке их создания:<spsna class="pull-right"><span ng-class="{ &#39;badge&#39;: &#39;date&#39; == filter.sort }" ng-click="set_sort(&#39;date&#39;)">по дате</span>&nbsp;<span ng-class="{ &#39;badge&#39;: &#39;weight&#39; == filter.sort }" ng-click="set_sort(&#39;weight&#39;)">по релевантности </span></spsna>
    </div>
    <ul class="list-group b-search">
      <li class="list-group-item" ng-repeat="document in found track by document.id">
        <span class="datetime pull-right">{{ ::document.published_at | amDateFormat: 'HH:mm, DD MMM YYYY'  }}</span>
        <div class="content">
          <a ng-href="{{ ::document.url }}" ng-if="::(document.url &amp;&amp; document.published)"><span class="glyphicon glyphicon-link"></span></a>&nbsp;<a class="title" ng-bind-html="::title(document)" ui-sref="logged.documents.edit({ id: document.id })"></a>
          <ul class="more" ng-if="::document.highlight.boxes">
            <li ng-bind-html="::para" ng-repeat="para in ::document.highlight.boxes"></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</form>