.b-box-paragraph
  position: relative

  .editor-panel
    display: none
    position: absolute
    height: 33px
    line-height: 30px
    background-color: #f2f3f6
    border: 1px solid #c8c9cd
    border-bottom: 2px solid #c8c9cd
    border-radius: 3px
    top: -38px
    font-size: 14px
    font-family: Georgia
    .button
      display: inline-block
      vertical-align: top !important
      padding-left: 8px
      padding-right: 8px
      font-weight: bold
      border-right: 1px solid #c8c9cd
      cursor: pointer
      overflow: hidden
    .button:last-child
      border-right: 0

    .active-button
      background-color: #ffffff
      color: #c14838

  .editor-panel_left
    left: 0

  .editor-panel_right
    right: 0

  .body
    width: 100%
    padding: 0
    margin: 0
    font-size: 16px
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important
    line-height: 22px
    padding: 10px
    border: 1px solid #f7f7f7
    background-color: #fcfcfc
    transition: background-color .3s ease-in
    border-radius: 5px
    min-height: 45px
    &:focus
      background-color: #fcfcfc
      outline: none
      border: 1px solid #d5d4d1
      box-shadow: 0 10px 13px -10px #dddddd inset
    a[entry]
      cursor: pointer
      color: #5CB85C
      background: #DFF0D8
      text-decoration: underline
      &:before
        content: '@'
        display: inline-block
    a[entry^="-"]
      background: #DAD9D9
      color: #555555
    &.bg-danger,
    &.bg-danger:focus
      box-shadow: $bgDanger
    &.bg-warning,
    &.bg-warning:focus
      background: $bgWarning
  
  .body.kind-h1,
  .body.kind-Q
    font-size: 22px
    line-height: 28px
    margin-bottom: 0

  .body.kind-Q
    font-style: italic
  
  .external-toolbar
    position: absolute
    top: -36px

  
  &.offline-locked
    .popup-disabled
      display: block
    
  &.animate-blink
    .body
      transition: background-color .3s
      background-color: #dff0d8
    
.b-box-paragraph_focused
  .editor-panel
    display: block

  .body
    background-color: #fcfcfc
    outline: none
    border: 1px solid #d5d4d1
    border-radius: 3px
    box-shadow: 0 10px 13px -10px #dddddd inset
    cursor: text

.locked-item
  pointer-events: none
  .body
    background-color: #d8d8d8
