.b-box.b-box-paragraph ng-class="{ 'b-box-paragraph_focused': focused, 'locked-item': locked }" 

  .external-toolbar id="external-{{box.id}}" 

  .body(
  	ng-mousedown='createRedactor()'
  	class='t{{box.text_align}} kind-{{box.kind}}'
    ng-bind-html='box.body | trusted'
    ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}"
  )

  span.lock-editor ng-show='locked' ng-click='Locker.unlock(true)' title='Разблокировать модуль' 
    span.glyphicon.glyphicon-lock.locked
    span.editor-name {{ Locker.editor() }}

  span.self-lock(ng-show='Locker.lock_by_me()') Заблокировано вами

  .alert.alert-warning ng-if='showForceMessage' 
    | Параграф не удалось сохранить, потому что его отредактировал
    strong {{ snapshot.editor }}
    | в
    strong {{ snapshot.created_at | amDateFormat:'HH:mm:ss' }}
    br
    a.btn.btn-danger role="button" ng-click="updateForce($event)"
      | Перезаписать изменения редактора
    br
    a.btn.btn-default role="button" ng-click="updateRevert($event)"
      | Отменить свои изменения
