<div class="modal-header">
  <h3 class="modal-title" ng-bind="title"></h3>
</div>
<div class="modal-body" ng-bind-html="text"></div>
<div class="modal-footer">
  <div class="alert alert-info pull-left" ng-if="status">
    Сохраняем абзацы, пожалуйста подождите...
  </div>
  <span class="btn btn-primary" ng-click="ok()" ng-disable="status">ОК</span>
  <button class="btn btn-warning" ng-click="close()">Отменить</button>
</div>
