<div class="b-box b-box-paragraph" ng-class="{'b-box-paragraph_focused': focused, 'locked-item': locked }">
  <div class="external-toolbar" id="external-{{box.id}}"></div>

  <div class="body t{{box.text_align}} kind-{{box.kind}}" ng-bind-html="box.body | trusted" ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}" ng-mousedown="createRedactor()"></div>

  <span class="lock-editor" ng-click="Locker.unlock(true)" ng-show="locked" title="Разблокировать модуль">
    <span class="glyphicon glyphicon-lock locked"></span>
    <span class="editor-name">{{ whoLocked || Locker.editor() }}</span>
  </span>

  <span class="self-lock" ng-show="Locker.lock_by_me()">Заблокировано вами </span>

  <div class="alert alert-warning" ng-if="showForceMessage">
    Параграф не удалось сохранить, потому что его отредактировал <strong>{{ snapshot.editor }} </strong>в <strong>{{ snapshot.created_at | amDateFormat:'HH:mm:ss' }}</strong>
    <br />
    <a class="btn btn-danger" ng-click="updateForce($event)" role="button">Перезаписать изменения редактора</a>
    <br />
    <a class="btn btn-default" ng-click="updateRevert($event)" role="button">Отменить свои изменения</a>
  </div>
</div>
