<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Рассылки <button class="btn btn-sm btn-primary" ui-sref="logged.creator()">+ Создать</button>
      </h1>
    </div>
    <table class="table table-condenced table-hover">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Тема
          </th>
          <th>
            Шаблон
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="mailings.length" ng-repeat="mailing in mailings | orderBy: &#39;-id&#39;">
          <td>
            {{ ::mailing.id }}
          </td>
          <td class="title">
            {{ ::mailing.subject }}
          </td>
          <td>
            <button class="btn btn-primary" ng-click="previewMailing(mailing.id)">Посмотреть</button>
          </td>
          <td>
            <button class="btn btn-success" ui-sref="logged.creator({id: mailing.id})">Редактировать</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>