<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Диагностические сообщения. Всего: {{ messages.stat.total }}
      </h1>
    </div>
    <div class="panel panel-info">
      <div class="panel-body form-inline">
        
        <div class="row">
          <div class="col-md-1">
            <label>Период</label>&nbsp;
          </div>
          <div class="col-md-1">
            <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.date_from" type="text" uib-datepicker-popup="" placeholder="От" />
          </div>
          <div class="col-md-1">
            <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" type="text" uib-datepicker-popup="" placeholder="До"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">
            <label>Домен</label>&nbsp;
          </div>
          <div class="col-md-1">
            <select class="form-control" ng-model="filter.domain" ng-options="domain.key as domain.key + &#39; (&#39; + domain.doc_count + &#39;)&#39; for domain in domains">
              <option value="">
                — выберите домен —
              </option>
            </select>
          </div>
        </div>
        
      </div>
    </div>
    <table class="table table-condenced table-hover">
      <thead>
        <tr>
          <th>
            Сообщение
          </th>
          <th width="200px">
            Количество документов
          </th>
          <th width="200px">
            Статус
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="message in messages.found">
          <td>
            {{ ::message.key }}
          </td>
          <td>
            {{ ::message.doc_count }}
          </td>
          <td>
            <div class="btn-group">
              <label class="btn btn-primary" ng-click="saveRule(message)" ng-model="message.status" ng-show="!message.status" uib-btn-radio="&#39;allow&#39;">allow</label>
              <label class="btn btn-primary" ng-click="saveRule(message)" ng-model="message.status" ng-show="!message.status" uib-btn-radio="&#39;block&#39;">block</label>
              <label class="label label-success" ng-if="message.status &amp;&amp; message.status == &#39;allow&#39;">{{ message.status }}</label>
              <label class="label label-danger" ng-if="message.status &amp;&amp; message.status == &#39;block&#39;">{{ message.status }}</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
