<div class="b-links">
  <rm-links-list document="document" links="links[item.key]" name="item.key" ng-if="key != &#39;controls&#39;" ng-repeat="item in settings.links | orderObjectBy:&#39;position&#39;:false"></rm-links-list>
</div>