<div class="panel panel-default" ng-class="{'bg-danger': isUnpublished}">
  <div class="panel-heading" ng-bind="label"></div>
  <div class="panel-body">
    <form name="form" ng-class="{ &#39;input-group&#39;: settings.links[name][&#39;not_found&#39;] }">
      <input class="form-control input-sm" ng-model="value" placeholder="{{ settings.links[name].placeholder || &#39;название документа или ссылка&#39; }}" type="text" typeahead-min-length="2" typeahead-on-select="select_document($item)" typeahead-wait-ms="400" uib-typeahead="document.title for document in find_documents($viewValue)" /><span class="input-group-btn"><span class="btn btn-info btn-sm" ng-click="add()" ng-disabled="form.$pristine" ng-if="settings.links[name][&#39;not_found&#39;]">Добавить</span></span>
    </form>
  </div>
  <div class="panel-body" ng-if="links.length">
    <ul as-sortable="sortable_handlers" class="list-group" ng-model="links">
      <li as-sortable-item="" class="list-group-item" ng-class="{ &#39;list-group-item-success&#39;: link.bound_document.published }" ng-repeat="link in links">
        <div ng-if="link.edit">
          <form name="editor">
            <div class="form-group">
              <label>Название</label><input class="form-control" ng-model="link.bound_document.title" type="text" />
            </div>
            <div class="form-group">
              <label>Урл</label><input class="form-control" ng-model="link.bound_document.url" type="text" />
            </div>
            <div class="form-group">
              <label>Дата публикации</label><input class="form-control" ng-model="link.bound_document.published_at" type="date" />
            </div>
            <div class="form-group">
              <button class="btn btn-success" ng-click="create(link)">Сохранить</button><button class="btn btn-danger pull-right" ng-click="reset(link)">Отменить</button>
            </div>
          </form>
        </div>
        <div ng-if="!link.edit">
          <span as-sortable-item-handle="" class="glyphicon glyphicon-sort"></span>&nbsp;<a ng-href="{{ link.bound_document.url.rendered }}">{{ link.bound_document.title }}</a><span class="glyphicon glyphicon-remove pull-right" ng-click="remove(link)"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
