<div class="b-history">
  <style type="text/css">
    .diff{overflow:auto;}
    .diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
    .diff del, .diff ins{display:block;text-decoration:none;}
    .diff li{padding:0; display:table-row;margin: 0;height:1em;}
    .diff li.ins{background:#dfd; color:#080}
    .diff li.del{background:#fee; color:#b00}
    .diff li:hover{background:#ffc}
    /* try 'whitespace:pre;' if you don't want lines to wrap */
    .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
    .diff del strong{font-weight:normal;background:#fcc;}
    .diff ins strong{font-weight:normal;background:#9f9;}
    .diff li.diff-comment { display: none; }
    .diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
  </style>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-success" ng-show="2 == range.length &amp;&amp; diff">
        <div class="panel-heading">
          Результат сравнения
        </div>
        <div class="panel-body diff" ng-bind-html="diff"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-info list">
        <div class="panel-heading">
          Снапшоты<a class="btn btn-primary pull-right btn-xs" href="/documents/{{ ::document.id }}/edit">К документу</a>
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="record in records track by record.id">
            <label>
              <div ng-init="checkRecord(record, $index)"></div>
              <input ng-change="change_point(record)" ng-disabled="disabled(record)" ng-model="record.selected" selected="selected" type="checkbox" />&nbsp;{{ record.created_at | amDateFormat:'YYYY-DD-MM HH:mm:ss' }} от {{ record.editor }}&nbsp;
              <span class="label label-info">{{ record.action }}</span>
              <button class="btn btn-xs btn-success" ng-if="record.action == 'box.destroyed'" ng-click="restoreBox(record)">Восстановить</button>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
