<div class="b-field-counter" ng-if="max || min">
  <div class="value" ng-class="{ overflow: (max &amp;&amp; value.length &gt; max) || (min &amp;&amp; value.length &lt; min) }" ng-show="value.length">
    {{ value.length }} зн.
  </div>
</div>