.b-uploader
  background: #fff !important

  $color_01: #ebecef
  $color_03: #c14838

  .add-image
    cursor: pointer
    font-size: 18px

  .glyphicon-edit
    cursor: pointer

  .form-group:last-child
    margin-bottom: 0

  .section
    margin-bottom: 10px

  .remove
    cursor: pointer
    float: right
    font-size: 13px
    background: url('../images/icons/red-cross.png') no-repeat left center
    padding-left: 18px
    white-space: nowrap

  .form
    margin-top: 20px
    margin-bottom: 0
  .preview
    img
      border: 7px solid white

  .versions
    font-size: 11px
    td
      padding: 3px 5px
      border: 2px solid $color_01
    .cell
      background-color: #f5f6f8

    .name
      vertical-align: middle
      min-width: 110px
      a
        font-size: 13px
        color: black
        text-decoration: none
        line-height: 1
        &:hover
          color: $color_03

      .version_name
        margin-left: 5px
        border-bottom: 1px dotted black
        &:hover
          border-color: $color_03

    .action
      font-size: 13px

.upload-images
  cursor: pointer
  margin-right: 15px
