.b-boxes-container.b-uploader
  .section
    span.remove ng-if='image.versions._preview || image.versions.original' ng-click='remove()' Удалить {{ 'file' == type ? 'файл' : 'фото' }}
    .preview ng-if="'image' == type && image.versions._preview"
      img ng-src='{{ attachments_host }}{{ image.versions._preview.url }}'
    .preview ng-if="'file' == type && image.versions.original.url"
      a href='{{ attachments_host }}{{ image.versions.original.url }}' Загруженный файл
      | &nbsp;
      span.label.label-primary ng-if="image.updated_at"
        | Загружен {{ image.updated_at | amDateFormat:'YYYY-MM-DD HH:mm' }}
  p ng-if='!image.versions.original'
    span.add-image ngf-select='select_file($files)'
      | + {{ 'file' == type ? 'Файл' : 'Фото' }}
  div ng-if="'image' == type && image.versions._preview"
    .section Версии
    .section
      table.versions
        tr ng-repeat="(version_name, version) in image.versions track by $index" ng-if='allow_version(version_name)'
          td.cell
            div ng-if="'original' != version.slug"
              span.glyphicon.glyphicon-edit ngf-select='update_file($files, image, version.slug)'
          td.cell {{ version.width }}*{{ version.height }}
          td.cell {{ kb(version.size) }} kb
          td.name
            a.glyphicon.glyphicon-search ng-href='{{ attachments_host }}{{ version.url }}' target='_blank'
            a.version_name ng-href='{{ attachments_host }}{{ version.url }}' target='_blnak' {{ version_name }}
