<div class="container-fluid" rm-fast-actions="">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Справочники
        </h1>
      </div>
      <ul>
        <li ng-repeat="catalog in catalogs">
          <a ng-bind="catalog" ui-sref="logged.catalogs.show({ id: catalog })"></a>
        </li>
      </ul>
    </div>
  </div>
</div>