<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          <a ui-sref="logged.catalogs.list">&larr;</a>&nbsp;<span>Редактирование справочника «{{ catalog_slug }}»</span>
        </h1>
      </div>
      <ul as-sortable="sortable_handlers" class="list-group" ng-model="catalog">
        <li as-sortable-item="" class="list-group-item" ng-repeat="item in catalog">
          <div ng-if="!item.edit">
            &nbsp;{{ item.value }}<span class="pull-right glyphicon glyphicon-edit" ng-click="edit(item)"></span>
          </div>
          <div ng-if="item.edit">
            <form name="form" ng-submit="update(item)">
              <div class="form-group">
                <label>Значение</label><input class="form-control" name="value" ng-model="item.value" placeholder="значение" required="" type="text" />
              </div>
              <button class="btn btn-primary" ng-disabled="form.$pristine &amp;&amp; !form_create.$valid">Сохранить</button><span class="btn btn-warning pull-right" ng-click="item.edit = false">Отмена</span>
            </form>
          </div>
        </li>
      </ul>
      <div class="panel panel-success">
        <div class="panel-heading">
          Новый элемент
        </div>
        <div class="panel-body">
          <form name="form_create" ng-submit="create(current_item)">
            <div class="form-group">
              <label>Значение</label><input class="form-control" name="value" ng-model="current_item.value" placeholder="значение" required="" type="text" />
            </div>
            <button class="btn btn-primary" ng-disabled="form_create.$pristine &amp;&amp; !form_create.$valid">Создать</button><span class="btn btn-warning pull-right" ng-click="reset()" ng-if="!form_create.$pristine">Очистить</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>