<div class="form-group b-owner-selector">
  <label ng-if="title">{{ title }}</label>
  <div class="form-inline">
    <span class="btn btn-success btn-sm" ng-class="{ &#39;btn-info&#39;: id &lt; 0, &#39;btn-danger&#39;: 0== id }" ng-click="remove(id)" ng-repeat="id in document[key]">{{ name_by_id(id) }}</span><select class="form-control input-sm" ng-change="add_editor(editor_id)" ng-model="editor_id" ng-options="editor.id as editor.last_name for editor in editors">
      <option value="">
        — пользователи —
      </option>
    </select><select class="form-control input-sm" ng-change="add_group(group_id)" ng-model="group_id" ng-options="group.id as group.title for group in groups">
      <option value="">
        — группы —
      </option>
    </select>
  </div>
</div>