.b-box-root
  .b-box
    .b-box__paywall-line
      position: relative
      margin-top: 10px
      border-bottom: 3px solid #333
      cursor: ns-resize
      -webkit-font-smoothing: antialiazed

      span.paywall-line__title
        position: absolute
        font-size: 20px
        background-color: #fff
        top: -13px
        padding: 0 5px
        left: 50%
        -webkit-transform: translateX(-50%)
        transform: translateX(-50%)


