.b-box-root ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}"
  .b-box
    .b-box__paywall-line as-sortable-item-handle=''
      span.paywall-line__title
        .glyphicon.glyphicon-lock
        | &nbsp;{{ title }}
    small Ниже данной линии контент доступен только подписчикам
