.sortable-drag
  border: 0 !important
  .draggable
    display: none

.b-body-editor
  margin-top: 40px
  margin-bottom: 40px

  .line
    list-style: none
    margin: 0
    padding: 0

    li
      position: relative
      &:hover
        .draggable,
        .removable
          opacity: 1

  .empty
    border: 5px dashed #eeeeee
    padding: 40px
    font-size: 20px
    color: #eeeeee
    cursor: pointer
    text-align: center
    &:hover
      color: shade(#eeeeee, 10)
      border-color: shade(#eeeeee, 10)

  .draggable,
  .removable
    position: absolute
    right: -20px
    top: 3px
    z-index: 5
    opacity: 0
    cursor: ns-resize
    transition: opacity .4s

  .removable
    top: 25px
    cursor: pointer

  .sortable-item
    border: 0

  .empty-selector
    .placeholder
      opacity: 1

  .panel-body
    padding: 15px 30px 15px 15px
