.b-body-editor

  .empty ng-if='empty() && document.part != "test"' ng-click='add()' Нажмите для начала редактирования

  .empty-selector ng-if='empty()'
    rm-box-selector box='box' position="'bottom'"

  .panel.panel-default ng-if='!empty()'
    .panel-heading Контент материала
    .panel-body
      ul.line ng-if='!empty()' as-sortable='sort_processor' ng-model='root_box.children'
        li ng-repeat="box in root_box.children | orderBy : predicate : reverse track by box.id" as-sortable-item="" ng-class="{'b-box__before-paywall': beforePaywallLine($index), 'b-box__after-paywall': afterPaywallLine($index)}"

          rm-box-selector box='box' ng-show="$index == 0" position="'top'"

          rm-box-date-editor(box="box" root_box='root_box' ng-show="isDocumentOnline")

          ng-switch(on='box.type')

            span.glyphicon.glyphicon-sort.draggable(as-sortable-item-handle="" ng-hide="isDocumentOnline")
            span.glyphicon.glyphicon-remove.removable(ng-if="box.type != 'paywall_line'" ng-click='removeManual(root_box, box)')

            rm-box-paragraph(ng-switch-when='paragraph' box='box' ng-if="!isDocumentOnline")
            rm-box-broadcast-paragraph(ng-switch-when='paragraph' box='box' ng-if="isDocumentOnline")

            rm-box-table ng-switch-when='table' box='box'
            rm-box-gallery ng-switch-when='gallery' box='box' point='root_box' nested='false'
            rm-box-chronology ng-switch-when='chronology' box='box' point='root_box' nested='false'
            rm-box-newsrelease-archive ng-switch-when='newsrelease_archive' box='box' point='root_box' nested='false'
            rm-box-container-attachments ng-switch-when='container_attachments' box='box' point='root_box' nested='false'
            rm-box-test ng-switch-when='test' box='box' point='root_box'
            rm-box-paywall-line ng-switch-when="paywall_line" box="box" point="root_box" nested="false"
            rm-box-default ng-switch-default="" box='box' point='root_box' nested='false' name='box.type'

          rm-box-selector box='box' ng-hide="isDocumentOnline && ($index + 1) != root_box.children.length" position="'bottom'"

  div(rm-loader="")
