<div class="link" ng-if="current_document">
  Текущий привязанный документ:
  <rm-document-linked document="current_document"></rm-document-linked>
</div>
<br />
<input class="form-control" ng-model="document_title" type="text" typeahead-min-length="2" typeahead-on-select="select_document($item)" typeahead-wait-ms="400" uib-typeahead="document.title for document in find_documents($viewValue)" />
