<table class="table table-stripped table-hover small">
  <thead>
    <tr>
      <th class="id">
        №
      </th>
      <th>
        Статус
      </th>
      <th class="subscription-status">
        Статус подписки
      </th>
      <th class="date">
        Создан
      </th>
      <th>
        Эл. почта<a class="btn btn-primary btn-xs pull-right" ui-sref="logged.contacts.new">Создать контакт</a>
      </th>
      <th></th>
    </tr>
  </thead>
  <tr class="user" ng-class="{ success: &#39;confirmed&#39; == contact.contact_status, danger: blocked(contact) }" ng-if="contacts.length" ng-repeat="contact in contacts">
    <td class="id">
      {{ ::contact.id }}
    </td>
    <td>
      <span class="glyphicon glyphicon-{{ ::status_icon(contact) }}" title="{{ ::contact.contact_status }}"></span>&nbsp; {{ ::contact.contact_status }}
    </td>
    <td class="subscription-status">
      <span class="label label-success" ng-if="contact.subscription_status == &#39;on&#39;">{{ ::contact.subscription_status }}</span><span class="label label-danger" ng-if="contact.subscription_status == &#39;off&#39;">{{ ::contact.subscription_status }}</span>
    </td>
    <td class="date" ng-bind=":: contact.created_at | amDateFormat:&#39;YYYY-MM-DD HH:mm&#39;"></td>
    <td>
      <small><a href="mailto:{{ ::contact.email }}">{{ ::contact.email }}</a></small>
    </td>
    <td class="edit">
      <div class="glyphicon glyphicon-edit" ui-sref="logged.contacts.edit({ id: contact.id })"></div>
    </td>
  </tr>
  <tr ng-if="!contacts.length">
    <td class="not-found" colspan="6">
      Контакты не найдены.
    </td>
  </tr>
</table>