<div class="page-header">
  <h1>
    <a ui-sref="logged.contacts.list">&larr;</a>Редактирование контакта
  </h1>
  <div ng-include="formTemplate"></div>
</div>
<div ng-include="historyTemplate"></div>
