<h1>
  История рассылок
</h1>
<br />
<form name="form">
  <div class="form-group form-inline">
    <div class="row">
      <div class="col-md-1">
        <label>Период &nbsp;</label>
      </div>
      <div class="col-md-1">
        <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.start_date" placeholder="начало" type="text" uib-datepicker-popup="" />
      </div>
      <div class="col-md-1">
        <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.end_date" placeholder="конец" type="text" uib-datepicker-popup="" />&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <label>Тип рассылки &nbsp;</label>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="filter.type" ng-options="mailing.id as mailing.title for mailing in mailings">
          <option value="">Выберите тип рассылки</option>
        </select>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" ng-click="search()">Найти</button>
      </div>
    </div>
  </div>
</form>
<table class="b-contacts table table-stripped table-hover small">
  <thead>
    <tr>
      <th>
        ID письма
      </th>
      <th>
        ID рассылки
      </th>
      <th>
        Дата создания рассылки
      </th>
      <th>
        Дата обновления рассылки
      </th>
      <th>
        Тип рассылки
      </th>
      <th>
        Заголовок письма
      </th>
      <th>
        Статус
      </th>
      <th></th>
    </tr>
  </thead>
  <tr class="user" ng-class="{ success: &#39;оплачен&#39; == order.status_title, danger: &#39;неоплачен&#39; == order.status_title }" ng-if="history.length" ng-repeat="mailing in history">
    <td>
      {{ ::mailing.id }}
    </td>
    <td>
      {{ ::mailing.mailing.id }}
    </td>
    <td>
      {{ ::mailing.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    </td>
    <td>
      {{ ::mailing.updated_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    </td>
    <td>
      <h5>
        <label class="label label-primary">{{ ::mailing.type.title }}</label>
      </h5>
    </td>
    <td>
      {{ ::mailing.mailing.subject }}
    </td>
    <td>
      <label class="label label-danger" ng-if="mailing.status == &#39;error&#39;">{{ ::mailing.status }}</label><label class="label label-info" ng-if="mailing.status == &#39;unknown&#39;">{{ ::mailing.status }}</label>
    </td>
    <td>
      <button class="btn btn-primary btn-small" ng-click="checkError(mailing.id)" ng-if="mailing.status == &#39;error&#39;">Показать ошибку</button>
    </td>
  </tr>
  <tr ng-if="!history.length">
    <td class="not-found" colspan="7">
      Рассылки не найдены.
    </td>
  </tr>
</table>
