<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Конструктор рассылок
        </h1>
      </div>
    </div>
    <div class="col-sm-8">
      <form name="constructorForm" ng-submit="create(mailing)">
        <div class="form-group">
          <label for="subject">Тема письма</label><input class="form-control" id="subject" ng-model="mailing.subject" placeholder="Тема письма" required="" type="text" />
        </div>
        <div class="form-group">
          <label for="preheader">Прехедер</label><input class="form-control" id="preheader" ng-model="mailing.preheader" placeholder="Прехедер" required="" type="text" />
        </div>
        <div class="form-group">
          <label for="type">Тип рассылки</label><select class="form-control" id="type" ng-init="mailing.type_id = mailTypes[0].id" ng-model="mailing.type_id" ng-options="item.id as item.title for item in mailTypes"></select>
        </div>
        <div class="form-group">
          <label for="date">Дата и время отправки</label>
          <div class="row">
            <div class="col-md-3">
              <input class="form-control" id="date" is-open="from_opened" ng-click="from_opened = true" ng-model="mailing.scheduled_at" placeholder="Дата" type="text" uib-datepicker-popup="" />
            </div>
          </div>
          <uib-timepicker hour-step="1" minute-step="1" ng-model="mailing.scheduled_at" show-meridian="false"></uib-timepicker>
        </div>
        <div class="form-group" ng-show="mailing.status">
          <label>Статус: &nbsp;</label><span class="label label-primary">{{mailing.status}}</span>
        </div>
        <h3>
          Тело письма
        </h3>
        <uib-tabset justified="true"><uib-tab heading="Конструктор" select="setHtmlTemplate(false)">
            <div class="alert alert-info" ng-if="!mailing.template_kit.length">
              Добавьте блок кнопкой внизу!
            </div>
            <ul as-sortable="sort_processor" class="block-list" ng-if="mailing.template_kit.length" ng-model="mailing.template_kit">
              <li as-sortable-item ng-repeat="block in mailing.template_kit track by $id(block)">
                <ng-switch on="block.type">
                  <span as-sortable-item-handle class="glyphicon glyphicon-sort draggable"></span>
                  <span class="glyphicon glyphicon-trash trashable" ng-click="removeBlock(block)"></span>
                  <block-text block="block" ng-switch-when="text"></block-text>
                  <block-title block="block" ng-switch-when="title"></block-title>
                  <block-link block="block" ng-switch-when="link"></block-link>
                  <block-image block="block" ng-switch-when="image"></block-image>
                </ng-switch>
              </li>
            </ul>
            <div class="btn-group" is-open="status.isopen" uib-dropdown="">
              <button class="btn btn-primary dropdown-toggle" type="button" uib-dropdown-toggle="">+ Добавить блок<span class="caret"></span></button>
              <ul class="dropdown-menu" uib-dropdown-menu="">
                <li>
                  <a href="#" ng-click="addBlock(&#39;text&#39;)">Текст</a>
                </li>
                <li>
                  <a href="#" ng-click="addBlock(&#39;title&#39;)">Заголовок</a>
                </li>
                <li>
                  <a href="#" ng-click="addBlock(&#39;link&#39;)">Ссылка</a>
                </li>
                <li>
                  <a href="#" ng-click="addBlock(&#39;image&#39;)">Картинка</a>
                </li>
              </ul>
            </div>
            <br /><br /></uib-tab><uib-tab heading="HTML-код" select="setHtmlTemplate(true)">
            <div class="form-group">
              <textarea class="form-control" ng-model="mailing.template" placeholder="HTML" rows="15"></textarea>
            </div>
          </uib-tab></uib-tabset>
        <div class="form-group">
          <button class="btn btn-success" ng-click="saveDraft()" type="button">Сохранить черновик</button>
        </div>
        <div class="form-group">
          <button class="btn btn-info" ng-click="previewMailing()" type="button">Предпросмотр</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="sendMailing()" ng-show="!isSending" type="button">Отправить</button>
        </div>
        <div class="form-group">
          <button class="btn btn-danger" ng-click="cancelSending()" ng-show="isSending" type="button">Отменить отправку</button>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            Тестовая рассылка
          </div>
          <div class="panel-body">
            <div class="form-group">
              <textarea class="form-control" ng-model="emails" placeholder="Список адресов через запятую" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="sendTestMailing()" type="button">Отправить</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form name="form">
        <div class="form-group">
          <label>Контакты</label>
          <div class="checkbox">
            <label><input checklist-model="conditions[0].statuses" checklist-value="&#39;unregistered&#39;" name="statuses1" type="checkbox">Не зарегистрированные</input></label>
          </div>
          <div class="checkbox">
            <label><input checklist-model="conditions[0].statuses" checklist-value="&#39;subscribed&#39;" name="statuses2" type="checkbox">Зарегистрированные с подпиской</input></label>
          </div>
          <div class="checkbox">
            <label><input checklist-model="conditions[0].statuses" checklist-value="&#39;unsubscribed&#39;" name="statuses3" type="checkbox">Зарегистрированные без подписки</input></label>
          </div>
        </div>
        <div class="form-group">
          <label>Подписаны на рассылки</label>
          <div class="checkbox" ng-repeat="item in mailTypes">
            <label><input checklist-model="conditions[1].mail_type_ids" checklist-value="item.id" type="checkbox">{{item.title}} </input></label>
          </div>
        </div>
        <div class="form-group">
          <label>Акции</label>
          <div class="checkbox" ng-repeat="item in namespaces">
            <label><input checklist-model="conditions[2].namespace_ids" checklist-value="item.id" type="checkbox">{{item.title}}</input></label>
          </div>
        </div>
        <div ng-show="conditions[0].statuses.length || conditions[1].mail_type_ids.length || conditions[2].namespace_ids.length">
          <div class="form-group">
            <label>Зарегистрирован</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" is-open="registerFromOpened" ng-click="registerFromOpened = true" ng-model="conditions[3].start_date" placeholder="Начало" type="text" uib-datepicker-popup="" />
              </div>
              <div class="col-md-6">
                <input class="form-control" is-open="registerToOpened" ng-click="registerToOpened = true" ng-model="conditions[3].end_date" placeholder="Конец" type="text" uib-datepicker-popup="" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Подписка заканчивается</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" is-open="mailingFromOpened" ng-click="mailingFromOpened = true" ng-model="conditions[4].start_date" placeholder="Начало" type="text" uib-datepicker-popup="" />
              </div>
              <div class="col-md-6">
                <input class="form-control" is-open="mailingToOpened" ng-click="mailingToOpened = true" ng-model="conditions[4].end_date" placeholder="Конец" type="text" uib-datepicker-popup="" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="alert alert-info" ng-show="mailing.contacts_status == &#39;contacts_ready&#39;">
              Контактов привязано: {{ contactsCount.count }}
            </div>
            <button class="btn btn-primary btn-lg btn-block" ng-click="linkContacts()" ng-hide="mailing.contacts_status == &#39;contacts_linking&#39;" type="button">Привязать контакты</button>
            <div class="alert alert-info" ng-show="mailing.contacts_status == &#39;contacts_linking&#39;">
              Идет привязка контактов...
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
