form ng-submit="createOrUpdate(banner)"
  .form-group
    label Дата начала
    input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true" ng-model="banner.start_date" required="" type="text" uib-datepicker-popup=""
  .form-group
    label Дата окончания
    input.form-control.input-sm.from is-open="to_opened" ng-click="to_opened = true" ng-disabled="!banner.start_date" ng-model="banner.end_date" required="" type="text" uib-datepicker-popup=""
  .form-group
    label Заголовок
    input.form-control ng-model="banner.title" type="text"
  .form-group
    label Тип баннера
    select.form-control ng-change="onChangeBannerType(banner.type)" ng-model="banner.type" ng-options="type for type in bannerTypes"
  .form-group ng-show="banner.type == 'text'"
    label Текст
    textarea.form-control ng-model="banner.body"
  .form-group ng-show="banner.type == 'picture'"
    label Картинка
    br
    img.img-thumbnail height="{{ banner.picture.height }}" ng-if="banner.picture.url" ng-model="banner.picture.url" ng-src="{{ attachments_host }}{{ banner.picture.url }}" width="{{ banner.picture.width }}"
    p ngf-select="uploadImage($files)" + Загрузить изображение
  .form-group ng-show="banner.type == 'embed'"
    label Embed
    rm-redactor embed="banner.embed"
  .form-group
    label URL
    input.form-control ng-model="banner.url" type="text"
  .form-group
    label Типы рассылок
    select.form-control multiple="" ng-model="banner.type_ids" ng-options="type.id as type.title for type in types"
  .form-group
    label Position
    input.form-control ng-model="banner.position" type="number"
  .actions
    button.btn.btn-primary ng-disabled="!banner.position" Сохранить
