.row
  .col-md-12.b-banners
    .page-header
      h1
        span Баннеры Рассылки, {{ meta.total_count }}
        | &nbsp;
        a.btn.btn-primary ui-sref="logged.banners.new"  Создать баннер

      .row
        .col-md-4
          .row
            .col-md-12
              uib-pagination(
                boundary-links="true"
                items-per-page="50"
                max-size="5"
                ng-change="to_page()"
                ng-model="meta.current_page"
                total-items="meta.total_count"
                ng-if="meta.total_count > 50")

        .col-md-8
          .form-group style="margin: 20px 0"
            .row
              .col-md-2
                input.form-control type="text" uib-datepicker-popup="" ng-model="search.start_date" is-open="from_opened" ng-click="from_opened = true" placeholder="Дата начала"
              .col-md-2
                input.form-control type="text" uib-datepicker-popup="" ng-model="search.end_date" is-open="to_opened" ng-click="to_opened = true" placeholder="Дата конца"
              .col-md-5
                input.form-control type="text" placeholder="Поиск по заголовку" ng-model="search.query"
              .col-md-3
                button.btn.btn-success ng-click="find()" Применить
                | &nbsp;&nbsp;
                button.btn.btn-danger ng-disabled="!search.start_date && !search.end_date && !search.query" ng-click="clear_search()" Сбросить



    table.table.table-stripped.table-hover ng-if="banners.length"
      thead
        tr
          th ID
          th Заголовок
          th Тип
          th Контент
          th URL
          th Дата начала
          th Дата окончания
          th Количество кликов
          th Position
          th
      tbody
        tr ng-repeat="banner in banners"
          td {{ ::banner.id }}
          td {{ ::banner.title }}
          td
            label.label.label-info {{ ::banner.type }}
          td
            div ng-if="banner.body" {{ ::banner.body }}
            div ng-if="banner.embed"
              .banners-embed ng-bind-html="banner.embed | trusted"
            div ng-if="banner.picture.url"
              img.img-thumbnail ng-src="{{ Settings.attachments_host }}{{ banner.picture.url }}" width="70"
          td
            a ng-href="{{ banner.url }}" {{ ::banner.url }}
          td {{ ::banner.start_date | amDateFormat: 'YYYY-MM-DD' }}
          td {{ ::banner.end_date | amDateFormat: 'YYYY-MM-DD' }}
          td {{ ::banner.clicks }}
          td {{ ::banner.position }}
          td
            a.btn.btn-success ui-sref="logged.banners.edit({ id: banner.id })" Редактировать

    .alert.alert-info ng-if="banners.length == 0" Баннеров нет.
