.b-category-selector
  margin-top: 25px
  ul
    list-style: none
    padding: 0
    margin: 0
    margin-left: 25px

  label
    margin: 0
    padding: 0
    line-height: 25px
  
  select
    max-width: 270px
