<div class="b-category-selector well">
  <form name="form">
    <div class="form-group">
      <div ng-include="categoryTemplate" ng-init="root=true" ng-repeat="category in ::categories_as_tree track by category.id"></div>
    </div>
    <div class="form-group" ng-if="::action">
      <button class="btn btn-success form-control" ng-click="update(document)" ng-disabled="form.$pristine">Сохранить</button>
    </div>
  </form>
</div>
