<div class="b-notify">
  <div class="b-notify-message" ng-class="class_name(message)" ng-repeat="message in messages">
    <div class="icon"></div>
    <div class="b-message-body">
      {{ message.msg }}<button ng-click="goto_state(message.state, message.params)" ng-show="has_state(message.state)">Подробнее</button>
    </div>
    <a class="close_message" ng-click="close(message)">&times;</a>
  </div>
</div>