<div class="panel panel-info b-source">
  <div class="panel-heading">
    Источник<span class="btn btn-info btn-xs pull-right" ng-click="reset()" ng-show="hidden">Очистить</span>
  </div>
  <div class="panel-body">
    <div class="form-group" ng-hide="hidden">
      <input class="form-control" ng-model="document.source_id" placeholder="название источника" type="text" typeahead-min-length="2" typeahead-on-select="select($item)" typeahead-wait-ms="400" uib-typeahead="source.id as source.title for source in sources | filter:$viewValue" />
    </div>
    <form ng-show="hidden">
      <div class="form-group">
        <label>Название источника</label><input class="form-control input-sm" ng-model="document.source_title" type="text" />
      </div>
      <div class="form-group">
        <label>URL источника</label><input class="form-control input-sm" ng-model="document.source_url" type="text" />
      </div>
    </form>
    <button class="btn btn-primary" ng-click="save()" ng-show="document.source_url &amp;&amp; document.source_title">Сохранить</button>
  </div>
</div>