<div class="b-box-root" ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}">
  <div class="b-box" ng-show="settings.boxes[name]">
    <rm-box-header box="box" nested="nested" point="point"></rm-box-header>
    <div class="b-boxes-container" ng-if="!box.view_mode">
      <div class="row">
        <div class="col-md-12">
          <rm-dynamic-form action="false" document="box" settings="settings.boxes[name]"></rm-dynamic-form>
          <div class="controls-group">
            <button class="btn btn-success pull-right" ng-click="editor.update(box, true, status)" ng-show="status.isBoxChanged">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="lock-editor" ng-click="Locker.unlock(true)" ng-show="locked" title="Разблокировать модуль">
  <span class="glyphicon glyphicon-lock locked"></span>
  <span class="editor-name">{{ Locker.editor() }}</span></span>
  <span class="self-lock" ng-show="Locker.lock_by_me()">Заблокировано вами </span>
</div>
