<ng-repeat-start ng-repeat-start="current_box in box.children">
  <ng-switch on="current_box.type">
    <rm-box-chronology-item box="current_box" nested="true" ng-switch-when="chronology_item" point="box"></rm-box-chronology-item>
    <rm-box-gallery-image box="current_box" nested="true" ng-switch-when="gallery_image" point="box"></rm-box-gallery-image>
    <rm-box-newsrelease-page box="current_box" nested="true" ng-switch-when="newsrelease_page" point="box"></rm-box-newsrelease-page>
    <rm-box-attachment-item box="current_box" nested="true" ng-switch-when="attachment_item" point="box"></rm-box-attachment-item>
  </ng-switch>
</ng-repeat-start>
<ng-repeat-end ng-repeat-end=""></ng-repeat-end>
