.b-documents-list

  font-size: 12px

  .published_at
    width: 60px
    text-align: right

  .top
    vertical-align: middle
    width: 80px

  .effective_timestamp
    color: #b92c2c

  .label-info
    opacity: 0.4

  tr:hover
    .label-info
      opacity: 1

