.b-pages
  .glyphicon
    cursor: pointer

  .glyphicon-sort
    cursor: move

  .label
    margin-right: 5px
    margin-top: 4px

  .title
    font-size: 16px


.b-sorted-list
  li
    cursor: move

.b-latest-documents
  font-size: 12px

  .published_at
    width: 60px
    text-align: right

  .not_published
    td
      opacity: .7
