<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 ng-bind="page.title"></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>
        Выбранные списки
      </h3>
      <div ng-show="page.list_ids">
        <ul as-sortable="sortable_handlers" class="list-group b-sorted-list" ng-model="page.list_ids">
          <li as-sortable-item="" class="list-group-item" ng-init="list = list_by_id(list_id)" ng-repeat="list_id in page.list_ids">
            <div as-sortable-item-handle="">
              <h4 ng-bind-template="{{ list.title }}"></h4>
              {{ list.slug }}&nbsp;<span class="label label-info">{{ list.limit }}</span>
            </div>
            <div class="clearfix">
              <br />
              <div class="btn-group pull-right">
                <span class="btn btn-default btn-xs" ng-click="edit(list)">
                  <div class="glyphicon glyphicon-edit"></div>
                </span>
              </div>
            </div>
          </li>
        </ul>
        <a class="btn btn-primary" ui-sref="logged.pages.view({ id: page.id })">Перейти к странице со списками</a>
      </div>
      <div ng-hide="page.list_ids">
        <div class="lead">
          А списков пока и нет.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>
        Все списки<span class="pull-right"><input class="form-control input-sm" ng-model="filter" placeholder="поиск" type="search" /></span>
      </h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="list in lists | orderBy:&#39;slug&#39; | filter:filter">
          <h4 ng-bind-template="{{ list.title }}"></h4>
          <input ng-checked="list_included(list)" ng-click="include_list(list)" type="checkbox" />&nbsp; {{ list.type}} :: {{ list.slug }}&nbsp;<span class="label label-info">{{ list.limit }}</span>
          <div class="clearfix">
            <br />
            <div class="btn-group pull-right">
              <span class="btn btn-default btn-xs" ng-click="edit(list)">
                <div class="glyphicon glyphicon-edit"></div>
              </span><span class="btn btn-default btn-xs" ng-click="remove(list)">
                <div class="glyphicon glyphicon-remove"></div>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>
        Управление
      </h3>
      <div class="panel panel-primary form" ng-form="form">
        <div class="panel-heading" ng-if="!current_list.id">
          Создание списка
        </div>
        <div class="panel-heading" ng-if="current_list.id">
          Редактирование списка
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Название</label><input class="form-control" ng-model="current_list.title" placeholder="название списка" required="" type="text" />
          </div>
          <div class="form-group">
            <label>Slug</label><input class="form-control" ng-model="current_list.slug" ng-pattern="/[a-z0-9_]+/" placeholder="slug для списка" required="" type="text" />
          </div>
          <div class="form-group">
            <label>Лимит</label><input class="form-control" ng-model="current_list.limit" placeholder="максимальное количество документов" required="" type="number" />
          </div>
          <div class="form-group">
            <label>Размер</label><input class="form-control" ng-model="current_list.cols" placeholder="ширина списка в колонках (12 кол. макс.)" required="" type="text" />
          </div>
          <div class="form-group">
            <label>Длительность топа</label><input class="form-control" ng-model="current_list.duration" placeholder="длительность в секундах" required="" type="number" />
          </div>
          <div class="form-group">
            <label>Название</label><input class="form-control" ng-model="current_list.header" type="text" />
          </div>
          <div class="form-group">
            <label>Часть URL</label><input class="form-control" ng-model="current_list.relative_url" type="text" />
          </div>
          <div class="form-group">
            <label>Тип шаблона</label><select class="form-control" ng-model="current_list.template" ng-options="list_type.filename as list_type.filename for list_type in templates">
              <option value="">
                — тип списка —
              </option>
            </select>
          </div>
          <div class="form-group">
            <h3>
              Включаемые категории
            </h3>
            <rm-categories-selector2 action="false" categories="current_list.category_ids" rm-loader=""></rm-categories-selector2>
          </div>
          <div class="form-group">
            <h3>
              Исключаемые категории
            </h3>
            <rm-categories-selector3 action="false" categories="current_list.blacklisted_category_ids" exclude="true" rm-loader=""></rm-categories-selector3>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" ng-click="create(current_list)"><span ng-if="!current_list.id">Создать список</span><span ng-if="current_list.id">Сохранить изменения</span></button><span class="btn btn-danger pull-right" ng-click="new_list()" ng-if="current_list.id">Отменить</span>
        </div>
      </div>
    </div>
  </div>
</div>