<div class="row b-pages">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Страницы
      </h1>
    </div>
  </div>
  <div class="col-md-8">
    <ul as-sortable="sortable_handlers" class="list-group" ng-model="pages" ng-show="pages">
      <li as-sortable-item="" class="list-group-item" ng-repeat="page in pages track by page.id">
        <div ng-if="!page.edit">
          <div as-sortable-item-handle="" class="glyphicon glyphicon-sort"></div>
          &nbsp;<a class="title" ng-bind="page.title" ui-sref="logged.pages.view({ id: page.id })"></a>&nbsp;
          <div class="btn-group pull-right">
            <span class="btn btn-default btn-xs" title="Редактировать" ui-sref="logged.pages.edit({ id: page.id })">
              <div class="glyphicon glyphicon-edit"></div>
            </span><span class="btn btn-default btn-xs" ng-click="to_edit_mode(page)" title="Переименовать">
              <div class="glyphicon glyphicon-pencil"></div>
            </span><span class="btn btn-default btn-xs" ng-click="remove(page)" title="Удалить">
              <div class="glyphicon glyphicon-remove"></div>
            </span>
          </div>
          <span class="label label-success pull-right" ng-bind-template="{{ page.list_ids.length }} сп." ng-show="page.list_ids.length"></span>
        </div>
        <div ng-if="page.edit">
          <form name="edit_form" ng-submit="rename(page, inplace_current_page)">
            <div class="form-group">
              <label>Slug</label><input class="form-control" ng-model="inplace_current_page.slug" placeholder="slug" required="" type="text" />
            </div>
            <div class="form-group">
              <label>Название страницы</label><input class="form-control" ng-model="inplace_current_page.title" placeholder="название страницы" required="" type="text" />
            </div>
            <button class="btn btn-primary" ng-disabled="edit_form.$pristine || edit_form.$invalid">Сохранить</button><span class="btn btn-warning pull-right" ng-click="page.edit = false">Отменить</span>
          </form>
        </div>
      </li>
    </ul>
    <div class="lead" ng-hide="pages.length">
      Страницы не найдены
    </div>
  </div>
  <div class="col-md-4">
    <form name="form" ng-submit="create(current_page)">
      <div class="panel panel-info">
        <div class="panel-heading">
          Новая страница
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Slug</label><input class="form-control" ng-model="current_page.slug" placeholder="slug" required="" type="text" />
          </div>
          <div class="form-group">
            <label>Название страницы</label><input class="form-control" ng-model="current_page.title" placeholder="название страницы" required="" type="text" />
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" ng-disabled="form.$pristine || form.$invalid">Создать страницу</button>
        </div>
      </div>
    </form>
  </div>
</div>