<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Списки для страницы «<a ui-sref="logged.pages.edit({ id: page.id })">{{ ::page.title }}</a>»
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <input class="form-control input-sm search" ng-model="filter" placeholder="фильтр" style="margin-bottom: 15px" type="search" />
    <div class="row">
      <div class="b-documents-list col-md-{{ ::list.cols }}" ng-repeat="list in ::lists">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span>{{ ::list.title }}</span><span class="pull-right">{{ ::list.limit }} шт. / {{ ::list.cols }} кол.</span>
          </div>
          <div class="panel-body text-center" ng-if="!list.documents.length">
            Документы не найдены.
          </div>
          <table class="table table-hover" ng-if="list.documents.length">
            <tr ng-class="{ &#39;danger&#39;: $index + 1 &gt; list.limit, success: document.highlight }" ng-repeat="document in list.documents | filter:filter | orderBy:order(list):true">
              <td class="published_at">
                {{ ::document.published_at | amDateFormat: 'HH:mm DD MMM.' }}
              </td>
              <td>
                <span class="glyphicon glyphicon-lock" ng-show="::document.locked" style="color:#919191;margin-right:3px"></span>
                <a class="glyphicon glyphicon-picture" href="{{ ::document.url }}" ng-show="::document.illustrated"></a>&nbsp;<a href="/documents/{{ ::document.id }}/edit">{{ ::document.title }}</a><span class="effective_timestamp" ng-if="list.duration">&nbsp;[{{ effective_timestamp(list, document) | amDateFormat: 'HH:mm, DD MMM. YYYY' }}]</span>&nbsp;<span class="label label-info" ng-show="document.part">{{ document_kind(document.part) }}</span>
              </td>
              <td class="top" ng-if="::list.duration">
                <div class="btn-group">
                  <span class="btn btn-success btn-xs" ng-click="change_top(document, list, -1)">-</span><span class="btn btn-success btn-xs">{{ document.list_item.top || 0 }}</span><span class="btn btn-success btn-xs" ng-click="change_top(document, list, 1)">+</span>
                </div>
              </td>
            </tr>
          </table>
          <div class="panel-footer" ng-if="list.need_commit">
            <span class="btn btn-success btn-block btn-sm" ng-click="commit_list_changes(list)">Сохранить изменения</span>
          </div>
          <div class="panel-footer">
            <input class="form-control" ng-model="list.selected_document" placeholder="поиск документа по названию или ссылке" type="text" typeahead-min-length="4" typeahead-on-select="select_document(list, $item)" typeahead-wait-ms="400" uib-typeahead="document.title for document in find_documents($viewValue, list)" />
          </div>
        </div>
      </div>
      <div class="clearfix" ng-if="::fill_row(list.cols)"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Последние документы
      </div>
      <table class="table b-latest-documents">
        <tr ng-class="::{ not_published: !document.published }" ng-repeat="document in ::latest_documents track by document.id">
          <td class="published_at">
            {{ ::document.published_at | amDateFormat: 'HH:mm DD MMM.' }}
          </td>
          <td>
            <span class="glyphicon glyphicon-lock" style="color:#919191;margin-right:3px" ng-show="::document.locked"></span>
            <a href="/documents/{{ ::document.id }}/edit">{{ ::document.title }}</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
