<ul>
  <li ng-class="{ disabled: !category.enabled }" ng-repeat="category in categories | orderBy:[&#39;position&#39;]">
    <div>
      <a ng-class="{ &#39;label label-info&#39;: category.edit }" ng-click="edit(category)">{{ category.title }}</a>
    </div>
    <div ng-include="branchTemplate" ng-init="categories = children(category)"></div>
  </li>
</ul>
