<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Управление категориями
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="b-categories" ng-include="branchTemplate" ng-init="categories = categories"></div>
  </div>
  <div class="col-md-4">
    <h3>
      <span ng-if="current_category.id">Редактирование категории</span><span ng-if="!current_category.id">Создание категории</span>
    </h3>
    <form>
      <div class="form-group">
        <label>Название категории</label><input class="form-control" ng-model="current_category.title" type="text" />
      </div>
      <div class="form-group">
        <label>Slug</label><input class="form-control" ng-model="current_category.slug" type="text" />
      </div>
      <div class="form-group">
        <label>Вложенные категории</label><input class="form-control" ng-model="current_category.nested_categories_as_string" type="text" />
      </div>
      <div class="form-group">
        <label>Settings</label><input class="form-control" ng-model="current_category.setting_keys_as_string" type="text" />
      </div>
      <div class="form-group">
        <label>Позиция</label><input class="form-control" ng-model="current_category.position" type="number" />
      </div>
      <div class="checkbox">
        <label><input ng-model="current_category.enabled" type="checkbox">категория активна</input></label>
      </div>
      <span class="btn btn-primary" ng-click="update_or_create(current_category)"><span ng-if="current_category.id">Сохранить изменения</span><span ng-if="!current_category.id">Создать</span></span><span class="btn btn-danger" ng-click="remove(current_category)" ng-if="current_category.id">Удалить</span><span class="btn btn-warning pull-right" ng-click="reset()">Отменить</span><br /><br />
      <div ng-if="current_category.id">
        <h4 ng-if="current_category.children">
          Вложенные категории
        </h4>
        <ul>
          <li ng-repeat="nested_category in current_category.children">
            {{ nested_category.title }}
          </li>
        </ul>
        <span class="btn btn-primary" ng-click="set_parent(current_category)">Добавить вложенные категории</span>
      </div>
      <br />
      <div ng-if="current_category.id">
        <h4 ng-if="forbiddenTitles.length">
          Запрещенные комбинации
        </h4>
        <ul>
          <li ng-repeat="title in forbiddenTitles track by $index">
            {{ title }}
          </li>
        </ul>
        <span class="btn btn-primary" ng-click="showForbiddenCombinations = true">
          <span ng-if="forbiddenTitles.length">Редактировать запрещенные комбинации</span>
          <span ng-if="!forbiddenTitles.length">Добавить запрещенные комбинации</span>
        </span>
        <rm-categories-selector-forbidden action="true" currentcategory="current_category" exclude="true" ng-if="showForbiddenCombinations" rm-loader=""></rm-categories-selector-forbidden>
      </div>
    </form>
  </div>
</div>
