.b-boxes-container
  padding: 25px
  background: $color_01 url('../images/b-boxes-container/shadow.png') repeat-x left top
  border-bottom: 1px solid $color_02

  .b-boxes-container
    padding: 0
    background: none
    border: 0
    margin-bottom: 20px

  .list-group-item
    overflow: hidden
