.icon
  display: inline-block
  vertical-align: middle

.icon-edit
  background: url(../images/icons/edit.png)
  width: 45px
  height: 36px

.icon-trash
  background: url(../images/icons/trash.png)
  width: 16px
  height: 21px
  
.icon-up
  background: url(../images/icons/up.png)
  width: 17px
  height: 9px
  
.icon-down
  background: url(../images/icons/down.png)
  width: 17px
  height: 9px
  
