.as-sortable-item, .sortable-placeholder 
  display: block

.as-sortable-handle 
  cursor: move

.as-sortable-placeholder 
  box-sizing: border-box
  background-color: #fff6f1
  list-style: none

.as-sortable-drag 
  position: absolute
  pointer-events: none
  opacity: .8
  z-index: 9999

.as-sortable-hidden 
  display: none !important
