@import variables
@import icons
@import blocks
@import sortable
@import b-boxes-container
@import b-preloading-bar

@import "../javascripts/app/modules/**/*.sass"

body
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

.roottmp
  padding-bottom: 50px

.root
  padding-bottom: 50px

.fright
  float: right

.fleft
  float: left

.tleft
  text-align: left

.tright
  text-align: right

.tcenter
  text-align: center

.tjustify
  text-align: justify

.table
  .min
    width: 20px

.b-part
  margin-bottom: 15px

.self-lock
  font-size: 12px
  float: right
  white-space: nowrap
  font-weight: bold
  color: #5fb760

.locked-item
  .header, .b-box
    pointer-events: none
    background-color: #d8d8d8 !important

  p.body
    pointer-events: none
    background-color: #d8d8d8 !important

  input, textarea, button, select
    pointer-events: none
    background-color: #d8d8d8

  .lock-editor
    font-size: 12px
    float: right
    white-space: nowrap
    font-weight: bold
    color: #5fb760
    cursor: pointer

    .editor-name
      margin-left: 5px

.glyphicon-edit, .glyphicon-remove
  cursor: pointer

.b-box-root,
.b-box
  &.bg-danger
    background: #fcfcfc
    box-shadow: $bgDanger
  &.bg-warning
    background: $bgWarning
    .b-boxes-container
      background: $bgWarning

.b-uploader.b-boxes-container
  background-color: #fff

.popup-disabled
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10000
  background: rgba(0, 0, 0, .25)

.panel-title
  select
    color: #000

