.block-list  
  padding-left: 0 
  
  > li
    position: relative
    border: 1px solid #ececec
    padding: 20px 40px 20px 20px
  
  .draggable,
  .trashable
    position: absolute
    right: 10px
    top: 10px
  
  .trashable
    top: 30px
    
    
.b-box-table
  z-index: 1
