.glyphicon.glyphicon-link(ng-if="box.bound_document_id")
| &nbsp;
a ui-sref=("logged.documents.edit({ id: box.bound_document_id || document.id })")
  | {{ document.title }} &nbsp;
span.label.label-primary ng-if="document.part"
  i.icon class="icon-{{document.part}}"
  | &nbsp;
  | {{ Utils.getPartName(document.part) }}
