table.b-users.table.table-stripped.table-hover.small
  thead
    tr
      th.id #
      th Дата
      th ФИО
      th Способ оплаты
      th Статус
      th Цена
      th Период
      th Продукт
      th Акция
      th Начало
      th Конец
      th
  tbody
    tr.user ng-class="{ success: 'оплачен' == order.status_title, danger: 'неоплачен' == order.status_title }" ng-if="orders.length" ng-repeat="order in orders"
      td {{ ::order.id }}
      td {{ ::order.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
      td {{ ::order.user_name }}
      td
        span.label.label-success {{ ::order.paymethod_title }}
      td
        span.label.label-info {{ ::order.status_title }}
      td
        strong {{ ::order.price }}
      td {{ ::order.period_title }}
      td {{ ::order.subproduct_title }}
      td {{ ::order.namespace_title }}
      td {{ ::order.start_date | amDateFormat: 'YYYY-MM-DD HH:mm' }}
      td {{ ::order.end_date | amDateFormat: 'YYYY-MM-DD HH:mm' }}
      td
        span.glyphicon.glyphicon-edit ui-sref="{{ paymentsEditLink }}({ id: order.id })"
    tr ng-if="!orders.length"
      td.not-found colspan="7" Заказы не найдены.
