.page-header
  h1
    a ui-sref="logged.payments.list" &larr;
    | Заказ «{{ order.id }}»
.row
  .col-md-2
    .panel.panel-default.b-payment-kit ng-init="kit = order.payment_kit"
      .panel-body
        .head
          .product {{ ::kit.product.title }}
          .subproduct {{ ::kit.subproduct.title }}
        .crossed_price ng-show="kit.crossed_price" {{ ::kit.crossed_price}}
        .price {{ ::kit.price }}
        .period {{ ::kit.period.title }}
        .payment_methods
          span.label.label-success {{ ::order.paymethod.title }}
  .col-md-4
    div ng-include="formTemplate"
  .col-md-12
    .b-users ng-include="usersTemplate"
