.page-header
  h1 Экспорт платежей
.row
  .col-md-2
    input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true" ng-model="dateStart" placeholder="Дата начала" type="text" uib-datepicker-popup=""
    uib-timepicker hour-step="1" minute-step="1" ng-model="dateStart" ng-show="dateStart" show-meridian="false"
  .col-md-2
    input.form-control.input-sm.from is-open="end_opened" ng-click="end_opened = true" ng-model="dateEnd" placeholder="Дата окончания" type="text" uib-datepicker-popup=""
    uib-timepicker hour-step="1" minute-step="1" ng-model="dateEnd" ng-show="dateEnd" show-meridian="false"
  .col-md-2
    button.btn.btn-success ng-click="download()" ng-disabled="!dateStart || !dateEnd" Скачать
    a#download
