.page-header
  h1
    span ng-show="stat.payments_today" Заказов за {{ today | amDateFormat: 'YYYY-MM-DD' }}: {{ stat.payments_today }}
    span ng-show="!stat.payments_today" Подписка, {{ stat.orders || stat.payments }}
    a.btn.btn-primary.pull-right ui-sref="logged.{{ type }}.new"  Создать подписку
form name="form"
  .form-group.form-inline
    .row
      .col-md-1
        label Статус&nbsp;
        select.form-control ng-model="filter.status_title" ng-options="status.title as status.title for status in statuses"
          option value="" любой
      .col-md-2
        label Метод оплаты&nbsp;&nbsp;
        select.form-control ng-model="filter.paymethod_title" ng-options="method.title as method.title for method in methods"
          option value="" любой
    br
    .row
      .col-md-2
        label Продукт&nbsp;
        br
        select.form-control ng-change="changeProductTitle()" ng-model="filter.product_title" ng-options="product.title as product.title for product in products"
          option value="" любой
      .col-md-1
        span ng-if="filter.product_title"
          label Подпродукт&nbsp;
          select.form-control ng-model="filter.subproduct_title" ng-options="product.title as product.title for product in subproducts"
            option value="" любой
    br
    .row
      .col-md-1
        label Период&nbsp;
        select.form-control ng-model="filter.period_title" ng-options="period.title as period.title for period in periods"
          option value="" любой
      .col-md-5
        label Акция&nbsp;
        br
        select.form-control ng-model="filter.namespace_title" ng-options="namespace.title as namespace.title for namespace in namespaces"
          option value="" любой
    br
    .row
      .col-md-2
        label От&nbsp;
        br
        input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true" ng-model="filter.date_from" placeholder="начало" type="text" uib-datepicker-popup=""
      .col-md-1
        label До&nbsp;
        br
        input.form-control.input-sm.to is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" placeholder="конец" type="text" uib-datepicker-popup=""
  .input-group
    input.form-control ng-model="filter.q" placeholder="всё, что вы хотите знать о заказе" type="text"
    .input-group-btn
      button.btn.btn-success ng-click="go()" Найти!
      button.btn.btn-default ng-click="reset()" Очистить
br
.text-center ng-show="stat.payments > per_page"
  uib-pagination boundary-links="true" items-per-page="per_page" max-size="5" ng-change="to_page()" ng-model="filter.page" total-items="stat.payments"
.b-users ng-include="ordersTemplate"
