.page-header
  h1 Массовая подписка пользователей
.panel.panel-default
  .panel-heading
    h1.panel-title Выбор namespace*
  .panel-body
    .input-group
      select.form-control ng-change="selectNamespace()" ng-model="selectedNamespace" ng-options="namespace.title for namespace in namespaces track by namespace.title" required=""
.row
  .col-md-12
    table.b-users.table.table-stripped.table-hover.small ng-if="subscriptions.length"
      thead
        tr
          th Пользователь
          th Продукт
          th Дата начала подписки
          th Дата окончания подписки
          th Аккаунт
      tbody
        tr.user ng-repeat="subscribe in subscriptions"
          td
            input.form-control ng-model="$item.email" placeholder="поиск пользователя" type="text" typeahead-min-length="3" typeahead-on-select="userSelected = true; subscribe.reader.reader_id = $item.id;" typeahead-wait-ms="400" uib-typeahead="user.last_name + ' ' + user.first_name + ' (' + user.email + ')' for user in findUsers($viewValue)"
          td
            .input-group
              select.form-control ng-change="selectProduct(subscribe)" ng-disabled="!userSelected" ng-model="subscribe.payment_kit" ng-options="payment_kit as buildName(payment_kit) for payment_kit in products track by payment_kit.id"
          td
            input.form-control.input-sm.from is-open="fromOpened" ng-change="changeStartDate(subscribe)" ng-click="fromOpened = true" ng-disabled="!subscribe.payment_kit" ng-model="subscribe.start_date" required="" type="text" uib-datepicker-popup=""
          td {{ subscribe.date_to }}
          td
            input.form-control ng-model="subscribe.account" type="text"
    button.btn.btn-success ng-click="subscribeAll()" ng-disabled="subscriptions.length < 2" Подписать всех
