<div class="b-box">
  <rm-box-header box="box" nested="nested" no_view_mode="true" point="point"></rm-box-header>
  <div class="b-boxes-container">
    <div class="row">
      <div class="col-md-12">
        <div class="icon icon-close fright" ng-click="editor.removeManual(point, box)" ng-if="nested"></div>
        <rm-dynamic-form action="false" document="box" settings="settings.boxes.newsrelease_page"></rm-dynamic-form>
        <div class="controls-group">
          <button class="btn btn-success pull-right" ng-click="editor.update(box)">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>
