<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Редактирование редактора
        </h1>
      </div>
    </div>
    <div class="col-sm-8">
      <form name="form">
        <div class="form-group">
          <label>Логин</label><input class="form-control input-lg" name="login" ng-model="editor.login" type="text" />
        </div>
        <div class="form-group">
          <label>Пароль</label><input class="form-control input-lg" name="password" ng-model="editor.password" placeholder="введите пароль, если хотите его поменять" type="password" />
        </div>
        <div class="form-group">
          <label>Email</label><input class="form-control" name="email" ng-model="editor.email" type="text" />
        </div>
        <div class="form-group">
          <label>Имя</label><input class="form-control" name="first_name" ng-model="editor.first_name" type="text" />
        </div>
        <div class="form-group">
          <label>Фамилия</label><input class="form-control" name="last_name" ng-model="editor.last_name" type="text" />
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-xs" ng-click="editor.enabled = !editor.enabled" ng-if="editor.enabled">Деактивировать реактора</button><button class="btn btn-danger btn-xs" ng-click="editor.enabled = !editor.enabled" ng-if="!editor.enabled">Активировать редактора</button>
        </div>
        <button class="btn btn-primary" ng-click="update(editor)" type="submit">Сохранить редактора</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h5>
        Группы редактора
      </h5>
      <div ng-repeat="group in groups">
        <label><input ng-change="update_groups(group)" ng-model="group.checked" type="checkbox" />&nbsp;{{ group.title }}</label>
      </div>
    </div>
  </div>
</div>