<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Редакторы<span class="pull-right"><input class="form-control" ng-model="filter" placeholder="быстрый поиск" type="search" /></span>
        </h1>
      </div>
      <table class="table table-condenced">
        <thead>
          <tr>
            <th class="min">
              #
            </th>
            <th class="min">
              Статус
            </th>
            <th>
              ФИО<a class="btn btn-primary btn-xs pull-right" ui-sref="logged.editors.new">Новый редактор</a>
            </th>
            <th>
              Роль
            </th>
            <th>
              Email
            </th>
            <th>
              Логин
            </th>
          </tr>
        </thead>
        <tr ng-repeat="editor in editors | filter:filter track by editor.id">
          <td ng-bind="::$index + 1"></td>
          <td class="tcenter">
            <button class="btn btn-success btn-xs" ng-click="disable(editor)" ng-if="editor.enabled">ON</button><button class="btn btn-danger btn-xs" ng-click="enable(editor)" ng-if="!editor.enabled">OFF</button>
          </td>
          <td>
            <a ui-sref="logged.editors.edit({ id: editor.id })">{{ ::full_name(editor) }}</a>
          </td>
          <td>
            {{ ::groups_by_ids(editor.group_ids) }}
          </td>
          <td ng-bind="::editor.email"></td>
          <td ng-bind="::editor.login"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
