<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Новый редактор
        </h1>
      </div>
    </div>
    <div class="col-sm-8">
      <form name="form" ng-submit="create(editor)">
        <div class="form-group">
          <label>Логин</label><input class="form-control input-lg" name="login" ng-model="editor.login" type="text" />
        </div>
        <div class="form-group">
          <label>Пароль</label><input class="form-control input-lg" name="password" ng-model="editor.password" type="password" />
        </div>
        <div class="form-group">
          <label>Email</label><input class="form-control" name="email" ng-model="editor.email" type="text" />
        </div>
        <div class="form-group">
          <label>Имя</label><input class="form-control" name="first_name" ng-model="editor.first_name" type="text" />
        </div>
        <div class="form-group">
          <label>Фамилия</label><input class="form-control" name="last_name" ng-model="editor.last_name" type="text" />
        </div>
        <button class="btn btn-primary" ng-disabled="form.$pristine || submit_disabled" type="submit">Создать нового редактора</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>