<div class="page-header">
  <h1>
    <span>Подписка, {{ stat.orders }}</span><a class="btn btn-primary pull-right" ui-sref="logged.subscription.new">Создать подписку</a>
  </h1>
</div>
<form name="form">
  <div class="form-group form-inline">
    <div class="row">
      
      <div class="col-md-2">
        <label>Статус&nbsp;</label>
        <select class="form-control" ng-model="filter.payment_status" ng-options="key as value for (key, value) in states">
          <option value="">
            любой
          </option>
        </select>&nbsp;&nbsp;
      </div>
      
      <div class="col-md-2">
        <label>Метод оплаты&nbsp;</label>
        <select class="form-control" ng-model="filter.payment_method" ng-options="key as value for (key, value) in methods">
          <option value="">
            любой
          </option>
        </select>&nbsp;&nbsp;
      </div>
      
      <div class="col-md-2">
        <label>Продукт&nbsp;</label>
        <select class="form-control" ng-model="filter.product" ng-options="key as value for (key, value) in products">
          <option value="">
            любой
          </option>
        </select>&nbsp;&nbsp;
      </div>
      
    </div>
    
    <br />
    
    <div class="row">
      <div class="col-md-2">
        <label>От&nbsp;</label>
        <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.date_from" placeholder="начало" type="text" uib-datepicker-popup="" />
      </div>
      <div class="col-md-2">
        <label>До&nbsp;</label>
        <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" placeholder="конец" type="text" uib-datepicker-popup="" />
      </div>
    </div>
  </div>
  <div class="input-group">
    <input class="form-control" ng-model="filter.q" placeholder="всё, что вы хотите знать о заказе" type="text" />
    <div class="input-group-btn">
      <button class="btn btn-success" ng-click="go()">Найти!</button><button class="btn btn-default" ng-click="reset()">Очистить</button>
    </div>
  </div>
</form>
<br />
<div class="text-center" ng-show="stat.orders &gt; per_page">
  <uib-pagination boundary-links="true" items-per-page="{{ per_page }}" max-size="5" ng-change="to_page()" ng-model="filter.page" total-items="stat.orders"></uib-pagination>
</div>
<div class="b-users" ng-include="ordersTemplate"></div>
