<div class="page-header">
  <h1>
    <a ui-sref="logged.subscription.list">&larr;</a>Новый заказ
  </h1>
</div>
<div class="row">
  <div class="col-md-4">
    <div ng-include="formTemplate"></div>
  </div>
</div>
