<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-body form-inline">
        <div class="row">
          <div class="col-lg-1">
            <label>Период&nbsp;</label>
          </div>
          <div class="col-lg-2">
            <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.start_date" placeholder="начало" type="text" uib-datepicker-popup="" />
          </div>
          <div class="col-lg-2">
            <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.end_date" placeholder="конец" type="text" uib-datepicker-popup="" />
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-lg-1">
            <label>Тип отчета&nbsp;</label>
          </div>
          <div class="col-lg-4">
            <select class="form-control" ng-model="filter.kind" ng-options="key as value for (key, value) in reports_list">
              <option value="">
                — выберите тип отчета —
              </option>
            </select>
          </div>
          <div class="col-lg-1">
            <button class="btn btn-primary" ng-click="generate(filter)">Генерировать</button>
          </div>
        </div>

      </div>
    </div>
    <h3>
      Очередь отчетов
    </h3>
    <table class="table">
      <tr>
        <th>
          #
        </th>
        <th>
          Начало
        </th>
        <th>
          Конец
        </th>
        <th>
          Имя
        </th>
        <th>
          Ссылка
        </th>
        <th>
          Отчет готов
        </th>
      </tr>
      <tr ng-repeat="report in reports">
        <td>
          {{ $index + 1}}
        </td>
        <td>
          {{ report.start_date | amDateFormat:'YYYY-MM-DD' }}
        </td>
        <td>
          {{ report.end_date | amDateFormat:'YYYY-MM-DD' }}
        </td>
        <td>
          {{ reports_list[report.kind] }}
        </td>
        <td>
          <a href="{{ report.url }}">{{ report.url }}</a>
        </td>
        <td>
          <span ng-if="report.ready"> Отчет готов</span><span class="b-preloading-bar" ng-if="!report.ready"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
