.b-payment-kit
  min-height: 250px
  cursor: pointer
  transition: all 0.35s
  background-color: #ebffed
  &:hover
    box-shadow: #cccccc, -1px, 0px, 0px
    transform: scale(1.08)
    border: 2px solid #28b25a
    background-color: #ccffcc

  .head
    text-align: center

  .product
    font-weight: bold
    margin-bottom: 5px
    line-height: 18px

  .subproduct
    font-size: 18px

  .period
    text-align: center
    font-size: 13px

  .discount
    text-align: center

  .price, .crossed_price
    font-size: 32px
    text-align: center
    color: #28b25a
    line-height: 32px
    margin: 10px

  .crossed_price
    font-size: 28px
    text-decoration: line-through
    color: #717171
    line-height: 28px

  .payment_methods
    text-align: center
    margin-top: 20px
    .label
      margin: 0 2px

.b-payment-kit_new
  background: #ebffed url('../images/icons/new_green.png') no-repeat center

.badge--offset
  margin-left: 15px
