.col-md-9
  form name="payment_kit_form"
    div
      button.btn.btn-primary ui-sref="logged.prices.list()" К списку
      br
      br
    .panel.panel-default
      .panel-heading
        h1.panel-title
          | Выбор продукта*
          span.btn.btn-default.btn-xs.pull-right ng-click="editors.product = true" Новый продукт
      .panel-body ng-show="!editors.product"
        .input-group
          select.form-control ng-change="select_product(kit.product)" ng-model="kit.product" ng-options="product.title for product in products track by product.id" required=""
            option value=""
              | — выберите продукт —
          span.input-group-btn
            span.btn.btn-default ng-click="edit_item('product', kit.product)" ng-disabled="!kit.product.id" Изменить
      .panel-body ng-show="editors.product"
        .form-group
          label Название
          input.form-control ng-model="new.product.title" type="text"
        .form-group
          label Slug
          input.form-control ng-model="new.product.slug" type="text"
          .help-block
            | Часть URL, которая будет после / (www.vedomosti.ru/...)
        .form-group
          span.btn.btn-success ng-click="new_item('products', 'product', new.product, products, kit)" Сохранить
          span.btn.btn-default.pull-right ng-click="cancel('product')" Отменить
    .panel.panel-default
      .panel-heading
        h1.panel-title
          | Выбор акции*
          span.btn.btn-default.btn-xs.pull-right ng-click="editors.namespace = true" Новая акция
      .panel-body ng-show="!editors.namespace"
        .input-group
          select.form-control ng-change="select_namespace(kit.namespace)" ng-model="kit.namespace" ng-options="namespace.title for namespace in namespaces track by namespace.id" required=""
            option value=""
              | — выберите акцию —
          span.input-group-btn
            span.btn.btn-default ng-click="edit_item('namespace', kit.namespace)" ng-disabled="!kit.namespace.id" Изменить
      .panel-body ng-show="editors.namespace"
        .form-group
          label Начало периода
          input.form-control is-open="start_opened" ng-click="start_opened = true" ng-model="new.namespace.start_date" type="text" uib-datepicker-popup=""
        .form-group
          label Конец периода
          input.form-control is-open="end_opened" ng-click="end_opened = true" ng-model="new.namespace.end_date" type="text" uib-datepicker-popup=""
        .form-group
          label Название
          input.form-control ng-model="new.namespace.title" type="text"
          .help-block Название акции на русском языке
        .form-group
          label Текст ошибки
          input.form-control ng-model="new.namespace.texts.error_not_suitable" type="text"
          .help-block Текст, который видит пользователь, если НЕ может воспользоваться акцией (есть ограничение по параметрам)
        .form-group
          label Slug
          input.form-control ng-model="new.namespace.slug" type="text"
          .help-block Часть URL, которая будет после / (www.vedomosti.ru/...)
        .form-group
          label Редирект
          select.form-control ng-model="new.namespace.redirect_to_id" ng-options="namespace.id as namespace.title for namespace in namespaces"
            option value=""
              | — выберите акцию —
        .form-group
          .checkbox
            label
              input disabled="" ng-model="new.namespace.base" type="checkbox"
              | основная акция
        .form-group
          span.btn.btn-success ng-click="new_item('namespaces', 'namespace', new.namespace, namespaces, kit)" Сохранить
          span.btn.btn-default.pull-right ng-click="cancel('namespace')" Отменить
          span.btn.btn-default.pull-right ng-click="set_to_main_namespace(new.namespace)" ng-show="new.namespace.id" style="margin-right: 10px" Сделать основным
    .more ng-show="kit.product.id"
      .panel.panel-default
        .panel-heading
          h1.panel-title
            | Выбор подпродукта*
            span.btn.btn-default.btn-xs.pull-right ng-click="editors.subproduct = true" Новый подпродукт
        .panel-body ng-show="!editors.subproduct"
          .input-group
            select.form-control ng-change="select_subproduct(kit.subproduct)" ng-model="kit.subproduct" ng-options="subproduct.title for subproduct in subproducts track by subproduct.id" required=""
              option value=""
                | — выберите подпродукт —
            span.input-group-btn
              span.btn.btn-default ng-click="edit_item('subproduct', kit.subproduct)" ng-disabled="!kit.subproduct.id" Изменить
        .panel-body ng-show="editors.subproduct"
          .form-group
            label Название
            input.form-control ng-model="new.subproduct.title" type="text"
            .help-block Название, которое будет отражаться на странице акции.
          .form-group
            label Slug
            input.form-control ng-model="new.subproduct.slug" type="text"
            .help-block Часть URL, которая будет после названия акции
          .form-group
            label Текст под телефоном
            input.form-control ng-model="new.subproduct.phone_text" type="text"
            .help-block Напишите текст, который пользователь будет видеть в форме заказа под телефоном. Максимум 60 знаков.
          .form-group
            span.btn.btn-success ng-click="new_item('subproducts', 'subproduct', new.subproduct, subproducts, kit)" Сохранить
            span.btn.btn-default.pull-right ng-click="cancel('subproduct')" Отменить
    .panel.panel-default
      .panel-heading
        h1.panel-title
          | Выбор периода подписки*
          span.btn.btn-default.btn-xs.pull-right ng-click="editors.period = true" Новый период
      .panel-body ng-show="!editors.period"
        .input-group
          select.form-control ng-model="kit.period" ng-options="period.title for period in periods track by period.id" required=""
            option value=""
              | — выберите период —
          span.input-group-btn
            span.btn.btn-default ng-click="edit_item('period', kit.period)" ng-disabled="!kit.period.id" Изменить
      .panel-body ng-show="editors.period"
        .form-group
          label Название
          input.form-control ng-model="new.period.title" type="text"
        .form-group
          label Единицы измерения
          select.form-control ng-model="new.period.measure_unit" ng-options="item for item in ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds']"
        .form-group
          label Длительность (для 4-х месяца длительность равна 4-м)
          input.form-control ng-model="new.period.duration_number" type="number"
        .form-group
          span.btn.btn-success ng-click="new_item('periods', 'period', new.period, periods, kit)" Сохранить
          span.btn.btn-default.pull-right ng-click="cancel('period')" Отменить
    .panel.panel-default
      .panel-heading
        h1.panel-title СТОИМОСТЬ ПОДПИСКИ
      .panel-body
        .form-group
          label Перечеркнутая цена
          input.form-control ng-model="kit.crossed_price" type="text"
        .form-group
          label Цена*
          input.form-control ng-model="kit.price" required="" type="text"
        .form-group
          label Скидка, %
          input.form-control ng-model="kit.discount" type="text"
        .form-group
          .checkbox
            label
              input ng-model="kit.syncable" type="checkbox"
              | Выгружать в подписную базу
    .panel.panel-default
      .panel-heading
        h1.panel-title Автопролонгация
      .panel-body
        .form-group
          label Автопролонгировать за...
          input.form-control ng-model="kit.autopay_timeout_hours" type="number"
          .help-block Укажите количество часов, за которое нужно списывать деньги при автопролонгации
        .form-group
          label Автопролонгировать как
          select.form-control ng-model="kit.renewal" ng-options="payment_kit as name(payment_kit) for payment_kit in kits_for_subproduct track by payment_kit.id"
            option value=""
              | — выберите вариант подписки —
        .form-group
          label Текст для автоплатежа
          textarea.form-control ng-model="kit.texts.autopayment" row="4" type="text"
    .panel.panel-default
      .panel-heading
        h1.panel-title Upsell
      .panel-body
        .form-group
          select.form-control ng-model="kit.upsell" ng-options="payment_kit as name(payment_kit) for payment_kit in kits_for_product track by payment_kit.id"
            option value=""
              | — выберите вариант подписки —
        .form-group
          label Текст upsell
          input.form-control ng-model="kit.texts.upsell" type="text"
          .help-block Впишите текст, который будет показан для выгодного предложения
    .panel.panel-default
      .panel-heading
        h1.panel-title Выбор города и альтернативные варианты
      .panel-body
        .form-group
          .checkbox
            label
              input ng-model="kit.city_choice" type="checkbox"
              | показывать выбор города
        .form-group
          label Предлагаемые варианты
          .checkbox ng-repeat="payment_kit in kits_for_namespace"
            label
              input checklist-comparator=".id" checklist-model="kit.alternates" checklist-value="payment_kit" type="checkbox"
              strong {{ payment_kit.subproduct.title }}
              | {{ payment_kit.product.title }} {{ payment_kit.period.title }}
    .panel.panel-default
      .panel-heading
        h1.panel-title
          | Выбор способов оплаты
          span.btn.btn-default.btn-xs.pull-right ng-click="editors.paymethod = true" Новый вариант оплаты
      .panel-body ng-show="!editors.paymethod"
        .form-group
          .checkbox ng-repeat="method in paymethods"
            span.glyphicon.glyphicon-edit ng-click="edit_item('paymethod', method)" &nbsp;&nbsp;
            label
              input checklist-comparator=".id" checklist-model="kit.paymethods" checklist-value="method" type="checkbox"
              | {{ method.title }}
      .panel-body ng-show="editors.paymethod"
        .form-group
          label Название
          input.form-control ng-model="new.paymethod.title" type="text"
        .form-group
          label Slug
          input.form-control ng-model="new.paymethod.slug" type="text"
        .form-group
          label Описание
          textarea.form-control ng-model="new.paymethod.description"
        .form-group
          span.btn.btn-success ng-click="new_item('paymethods', 'paymethod', new.paymethod, paymethods, kit)" Сохранить
          span.btn.btn-default.pull-right ng-click="cancel('paymethod')" Отменить
    .panel.panel-default ng-if="conditions.length"
      .panel-heading
        h1.panel-title Эта акция для тех, кто
      .panel-body
        .form-group.row ng-repeat="condition in conditions"
          .col-md-6
            | {{ condition.title }}
            small.text-primary ng-show="condition.slug == 'online_subscriber_now'"
              br
              | Да — акция будет доступна текущим подписчикам
              br
              | Нет — акция будет доступна читателям без подписки
              br
              | Не проверяем — когда это условие учитывать не нужно
            small.text-primary ng-show="condition.slug == 'online_subscriber_last_year'"
              br
              | Да - акция будет доступна тем у кого была подписка за последний год
              br
              | Нет - акция будет доступна тем у кого не было подписки за последний год
              br
              | Не проверяем - когда это условие учитывать не нужно
            small.text-primary ng-show="condition.slug == 'subscriber_of_namespace'"
              br
              | Да - будет возможность подписаться второй раз
              br
              | Нет - акция будет доступна тем у кого нет подписки по этой акции
              br
              | Не проверяем - когда это условие учитывать не нужно
          .col-md-6
            .btn-group data-toggle="buttons"
              label.btn.btn-primary ng-model="kit.user_conditions[condition.slug]" type="radio" uib-btn-radio="'true'" Да
              label.btn.btn-primary ng-model="kit.user_conditions[condition.slug]" type="radio" uib-btn-radio="'false'" Нет
              label.btn.btn-primary ng-model="kit.user_conditions[condition.slug]" type="radio" uib-btn-radio="" Не проверять
    .panel.panel-default ng-if="::related.length"
      .panel-heading
        h1.panel-title Этот вариант подписки связан c...
      .panel-body
        ul
          li ng-repeat="payment_kit in ::related"
            strong {{ payment_kit.subproduct.title }}
            | {{ payment_kit.product.title }} {{ payment_kit.period.title }}
    .panel.panel-default
      .panel-heading
        h1.panel-title Статус
      .panel-body
        .form-group
          .checkbox
            label
              input ng-model="kit.disabled" type="checkbox"
              | Скрыть подписку
.col-md-3
  .panel.panel-default.b-payment-kit
    .panel-body
      .head
        .product {{ kit.product.title }}
        .subproduct {{ kit.subproduct.title }}
        .namespace {{ kit.namespace.title }}
      .crossed_price ng-show="kit.crossed_price" {{ kit.crossed_price }}
      .price {{ kit.price }}
      .period {{ kit.period.title }}
      .payment_methods
        span.label.label-success ng-repeat="method in kit.paymethods" {{ method.slug }}
  span.btn.btn-success.btn-block ng-click="save(kit)" ng-disabled="payment_kit_form.$invalid" Сохранить вариант подписки
