.container-fluid
  .row
    .col-sm-12
      .page-header
        h1 Варианты подписки
      .panel.panel-primary ng-repeat="product in ::products track by product.id"
        .panel-heading
          h1.panel-title
            | {{ ::product.title }}
            span.btn.btn-default.btn-xs.pull-right ng-click="hideSortBody[product.id] = !hideSortBody[product.id]; namespaceFilters[product.id] = hideSortBody[product.id] ? {} : namespaceFilters[product.id]" ng-show="namespaces_by_product(product).length > 0" Фильтры
        .panel-body
          .panel.panel-warning ng-show="!hideSortBody[product.id]"
            .panel-body
              .row
                .col-md-3
                  .form-group
                    input.form-control type="text" ng-model="namespaceFilters[product.id].title" placeholder="Название или slug" uib-typeahead="title for title in getTitles()|filter:$viewValue" typeahead-show-hint="true" typeahead-min-length="0"
                  .form-group
                    input.form-control type="text" ng-model="namespaceFilters[product.id].price" placeholder="Цена" uib-typeahead="price for price in getPrices()|filter:$viewValue" typeahead-show-hint="true" typeahead-min-length="0"
                .col-md-2
                  .form-group
                    input.form-control is-open="start_opened" ng-click="start_opened = true" ng-model="namespaceFilters[product.id].start_date" type="text" placeholder="Дата начала" uib-datepicker-popup=""
                  .form-group
                    input.form-control is-open="end_opened" ng-click="end_opened = true" ng-model="namespaceFilters[product.id].end_date" type="text" placeholder="Дата конца" uib-datepicker-popup=""
                .col-md-2
                  .form-group
                    select.form-control multiple='true' ng-model='namespaceFilters[product.id].subproducts' ng-options="subproduct.title for subproduct in subproducts[product.id] track by subproduct.id"
                .col-md-2
                  .form-group
                    label Автопролонгация
                    .btn-group
                      button.btn.btn-primary.btn-sm type="button" ng-class="{active: namespaceFilters[product.id].autopay == 'on'}" ng-click="namespaceFilters[product.id].autopay = 'on'" Есть
                      button.btn.btn-primary.btn-sm type="button" ng-class="{active: namespaceFilters[product.id].autopay == 'off'}" ng-click="namespaceFilters[product.id].autopay = 'off'" Нет
                      button.btn.btn-primary.btn-sm type="button" ng-click="namespaceFilters[product.id].autopay = ''" Сбросить


          .panel.panel-info ng-repeat="namespace in namespaces_by_product(product) | pricesNamespaceFilter:namespaceFilters[product.id]:{payment_kits: payment_kits} track by namespace.id"
            .panel-heading
              | {{ ::namespace.title }}&nbsp;
              span.label.label-info {{ ::namespace.slug }}
              span.badge.badge--offset
                | действует с {{ ::namespace.start_date | amDateFormat:'YYYY-MM-DD' }} по {{ ::namespace.end_date | amDateFormat:'YYYY-MM-DD' }}
            .panel-body
              .col-md-2 ng-repeat="kit in payment_kits[namespace.id]" ui-sref="logged.prices.edit({ payment_kit_id: kit.id })"
                .panel.panel-default.b-payment-kit
                  .panel-body
                    .head
                      .product {{ ::kit.product.title }}
                      .subproduct {{ ::kit.subproduct.title }}
                    .crossed_price ng-show="kit.crossed_price" {{ ::kit.crossed_price}}
                    .price {{ ::kit.price }}
                    .discount ng-show="kit.discount" скидка {{ ::kit.discount }}%
                    .period {{ ::kit.period.title }}
                    .payment_methods
                      span.label.label-success ng-repeat="method in ::kit.paymethods track by method.id" {{ ::method.slug }}
              .col-md-2 ui-sref="logged.prices.new({ namespace_id: namespace.id, product_id: product.id })"
                .panel.panel-default.b-payment-kit.b-payment-kit_new
