.b-editors-list
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: #f8f8f8
  border-top: 1px solid #e7e7e7
  z-index: 10000
  padding: 10px 20px
  overflow: hidden
  span
    margin-left: 5px
    span
      margin-left: 0
