.b-part
  background: #ebecef
  &.bg-danger
    box-shadow: $bgDanger
  &.ng-dirty
    background-color: $bgWarning

.modal-header
  .modal-title
    &.modal-title--warning
      color: $color_03

.modal-body
  dt
    white-space: normal
  dd
    li
      &.underscored-item
        margin-bottom: 5px
