.modal-header
  h3.modal-title.modal-title--warning ng-bind="title"
.modal-body
  dl.dl-horizontal ng-repeat="part in parts"
    dt
      | {{ part.label }}
    dd
      ul
        li.underscored-item ng-repeat="field in part.fields"
          | {{ field.label }}


.modal-footer
  button.btn.btn-primary.pull-left ng-click="close()"
    | Закрыть
  button.btn.btn-danger ng-click="forcePublish()"
    | Все равно опубликовать
