<div class="modal-header">
  <h3 class="modal-title" ng-bind="title"></h3>
</div>
<div class="modal-body" ng-bind-html="text"></div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disable="status">{{ okText || 'OK' }}</button>
  <button class="btn btn-warning" ng-click="close()">{{ cancelText || 'Отменить' }}</button>
</div>
