.container-fluid(rm-fast-actions)
  .row
    .col-md-12
      .b-editors-list
        strong Online:
        span.label.label-success(ng-repeat='editor_id in active_editors' ng-bind-html='editor_full_name_with_icon(editor_id)')
      .row
        .col-md-8
          rm-part(part='title' id='document.id')
          rm-part(part='header' id='document.id')
          rm-part(part='illustrator' id='document.id')
          rm-urls-document-module(document='document' rm-loader ng-if='document.settings.urls')
          rm-editor(root_box='root_box' document='document')
          p
            span.btn.btn-danger.btn-lg(ng-if="document.id && document.part == 'online'" ng-click='publish(document)')
              span Опубликовать трансляцию
          rm-links-module(document='document')
          .panel.panel-info(ng-if='bound_documents.length')
            .panel-heading Связанные документы
            ul.list-group
              li.list-group-item(ng-repeat='document in ::bound_documents')
                span.glyphicon.glyphicon-lock(ng-show='document.locked' style="color: #919191; margin-right: 3px")
                a(ui-sref="logged.documents.edit({ id: document.id })")
                  span.glyphicon.glyphicon-picture(ng-show='document.illustrated' style="margin-right: 3px")
                  | {{ ::document.title }}

        .col-md-4
          p
            span.btn.btn-warning.btn-block(ng-click='preview(document)') Предпросмотр

          p
            span.btn.btn-danger.btn-block.btn-lg(ng-if='document.id' ng-click='checkRequiredFieldsBeforePublish(document)' ng-disabled='isDisablePublishButton')
              span(ng-if='!isDisablePublishButton') Опубликовать
              span(ng-if='isDisablePublishButton') Подождите...

          p
            span.btn.btn-warning.btn-block(ng-if='document.published' ng-click='unpublish(document)') Отменить публикацию

            rm-document-publisher(document='document')

          p
            .b-triggers(ng-if='document.settings.trigger')
              h4 Триггеры
              rm-dynamic-form(document='document' settings='document.settings.trigger' action='false')

            rm-assigner-document-module(document='document' rm-loader ng-if='document.settings.assignees')
            rm-proofreading(document='document' ng-if='document.settings.proofreading.on && !document.proofread')
            rm-categories-selector(categories='document.category_ids' document='document' action='true' rm-loader)
            rm-tags-document-module(document='document' rm-loader ng-if='document.settings.taggings')

            rm-source-selector(document='document' ng-if='document.settings.source')
            rm-lists-excluder(document='document')

            rm-document-milestones(document='document')

            div
              a.btn.btn-primary(ui-sref="logged.documents.history({ id: document.id })") История документа

            div
              br
              a.btn.btn-primary(ui-sref="logged.documents.history-proofread({ id: document.id })") Изменения с последней вычитки

            div(ng-if='document.published')
              br
              button.btn.btn-info(ng-click='to_twitter($event)') Твитнуть

            div(ng-if='document.published')
              br
              a.btn.btn-default(ui-sref="logged.documents.statistics({id: document.id})") Статистика

          rm-instant-article(rootbox='root_box' document='document' ng-if="document.published && (document.part == 'article' || document.part == 'news')")
