<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Новый документ
        </h1>
      </div>
    </div>
    <div class="col-sm-8">
      <form name="form" ng-submit="create(document)">
        <div class="form-group">
          <label ng-bind="title.label"></label><rm-field-counter max="{{ title.max_chars }}" min="{{ title.min_chars }}" value="document.title"></rm-field-counter><input class="form-control input-lg" name="title" ng-model="document.title" type="text" /><span class="help-block" ng-bind="title.hint"></span>
        </div>
        <div class="form-group">
          <button class="btn btn-success" ng-disabled="!document.title || in_progress || disabledCreateDocument">Создать новый документ</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <rm-categories-selector categories="document.category_ids"></rm-categories-selector>
    </div>
  </div>
</div>
