<div class="panel panel-success b-part" ng-form="" name="forms.partForm" ng-if="part_data.settings[part].attributes" ng-class="{'bg-danger': isUnpublished}"}>
  <div class="panel-body">
    <rm-dynamic-form action="false" document="part_data.data" settings="part_data.settings[part]"></rm-dynamic-form>
    <button class="btn btn-primary save" ng-click='update(part_data, forms.partForm)'>Сохранить изменения</button>
    <span class="lock-editor" ng-click="Locker.unlock(true)" ng-show="locked" title="Разблокировать модуль">
      <span class="glyphicon glyphicon-lock locked"></span>
      <span class="editor-name">{{ Locker.editor() }}</span>
    </span>
    <span class="self-lock" ng-show="Locker.lock_by_me()">Заблокировано вами </span>
  </div>
</div>
