<div class="panel panel-primary b-lists-excluder" ng-show="lists.length">
  <div class="panel-heading">
    Материал будет опубликован в след списках (для исключения из списка кликните по нему):
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-class="{ excluded: excluded(list)} " ng-click="toggle(list)" ng-repeat="list in lists | orderBy:title track by list.id">
      {{ list.title }}
    </li>
  </ul>
</div>