<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Редактирование списка городов
        </h1>
      </div>
      <ul as-sortable="sortable_handlers" class="list-group" ng-model="cities">
        <li as-sortable-item="" class="list-group-item" ng-repeat="item in cities">
          <div ng-if="!item.edit">
            <div as-sortable-item-handle="" class="glyphicon glyphicon-sort"></div>
            &nbsp;{{ item.title }}<span class="pull-right glyphicon glyphicon-edit" ng-click="edit(item)" title="Редактировать"></span><span class="pull-right glyphicon glyphicon-remove" ng-click="remove(item)" style="margin-right: 5px" title="Удалить"></span>
          </div>
          <div ng-if="item.edit">
            <form name="form" ng-submit="update(item)">
              <div class="form-group">
                <label>Название</label><input class="form-control" name="title" ng-model="item.title" required="" type="text" />
              </div>
              <div class="form-group">
                <label>Контакты</label><textarea class="form-control" name="contect" ng-model="item.contact" required=""></textarea>
              </div>
              <div class="form-group">
                <label>Состояние</label><select class="form-control" ng-model="item.capability" ng-options="a for a in [&#39;main&#39;, &#39;affiliate&#39;, &#39;other&#39;]"></select>
              </div>
              <button class="btn btn-primary" ng-disabled="form.$pristine &amp;&amp; !form_create.$valid">Сохранить</button><span class="btn btn-warning pull-right" ng-click="item.edit = false">Отмена</span>
            </form>
          </div>
        </li>
      </ul>
      <div class="panel panel-success">
        <div class="panel-heading">
          Новый город
        </div>
        <div class="panel-body">
          <form name="form_create" ng-submit="create(current_item)">
            <div class="form-group">
              <label>Название</label><input class="form-control" name="title" ng-model="current_item.title" required="" type="text" />
            </div>
            <div class="form-group">
              <label>Контакты</label><textarea class="form-control" name="contect" ng-model="current_item.contact" required=""></textarea>
            </div>
            <div class="form-group">
              <label>Состояние</label><select class="form-control" ng-model="current_item.capability" ng-options="item for item in [&#39;main&#39;, &#39;affiliate&#39;, &#39;other&#39;]"></select>
            </div>
            <button class="btn btn-primary" ng-disabled="form_create.$pristine &amp;&amp; !form_create.$valid">Создать</button><span class="btn btn-warning pull-right" ng-click="reset()" ng-if="!form_create.$pristine">Очистить</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>