<li class="list-group-item" ng-class="{'list-group-item-warning': status.isBoxChanged}">

  <div ng-if="box.view_mode">
    <span as-sortable-item-handle="" class="glyphicon glyphicon-sort pull-right"></span>
    <div class="clearfix">
      <img class="pull-left" ng-show="box.attachment" ng-src="{{ attachments_host }}{{ box.attachment.versions._preview.url }}" style="vertical-align: top !important; margin-right: 10px;" />
      <div class="more" ng-show="box.description">
        <small>
          <span ng-bind-html="box.description"></span>
          <br />
          <strong>{{ box.author }} / {{ box.credits }}</strong>
        </small>
      </div>
    </div>
    <div class="clearfix buttons">
      <br />
      <div class="btn-group pull-left">
        <span class="btn btn-primary btn-xs" ng-click="box.view_mode = false">Редактировать</span>
        <span class="btn btn-danger btn-xs" ng-click="editor.removeManual(point, box)" ng-if="nested">Удалить</span>
      </div>
      <div class="btn-group pull-right">
        <span class="btn btn-warning btn-xs" ng-click="gallery.up(box)">Up</span>
        <span class="btn btn-warning btn-xs" ng-click="gallery.down(box)">Down</span>
      </div>
    </div>
    <br>
    <span class="upload-images" ngf-select='gallery.uploadImages($files, "middle", box)' multiple="true">
      + Загрузить картинки
    </span>
    <span class="upload-images" ng-click="gallery.addSlide('middle', box)">
      + Добавить слайд
    </span>
    <br>
  </div>

  <div ng-if="!box.view_mode">
    <span class="remove-item" ng-click="editor.removeManual(point, box)" ng-if="nested">Удалить</span>
    <rm-dynamic-form action="false" document="box" settings="settings.boxes.gallery_image"></rm-dynamic-form>
    <div class="controls-group clearfix">
      <button class="btn btn-success pull-right" ng-click="update(box)">Сохранить</button>
      <button class="btn btn-default pull-left" ng-click="box.view_mode = true">Закрыть</button>
    </div>
    <br>
    <span class="upload-images" ng-click="gallery.addSlide('middle', box)">
      + Добавить еще слайд
    </span>
  </div>

</li>
