li ng-if="enabled(category) || selected[category.id]"
  .single ng-if="single(category)"
    label ng-class="{'required': required(category) && !selected[category.id]}"
      | {{ category.title }}
    | &nbsp;&nbsp;

    select(
      name="category[{{ category.id }}]"
      ng-change="add_item(category)"
      ng-disabled="immutable(category)"
      ng-model="selected[category.id]"
      ng-options="item.id as item.title for item in onlyEnabledOrSelected(category.children, selected[category.id])"
    )
      option ng-show="!autoselected(category)" value="" — выберите —

    ul ng-include="branchTemplate" ng-repeat="category in find_by_id(category.children, selected[category.id]).children"
  .multi ng-if="!single(category)" ng-init="prepare_values(category.id)"
    label {{ category.title }}&nbsp;&nbsp;

    div ng-repeat="category_item in selected_and_allowed(category.children, selected[category.id]) track by $index" style="margin-left: 25px"

      select(
        name="category[{{ category_item.id }}]"
        ng-change="add_item(category)"
        ng-disabled="immutable(category)"
        ng-if="only_active(category.children, selected[category.id], selected[category.id][$index]).length > 0"
        ng-model="selected[category.id][$index]"
        ng-options="item.id as item.title for item in only_active(category.children, selected[category.id], selected[category.id][$index])"
      )
        option ng-show="!autoselected(category)" value="" — выберите —

      .glyphicon.glyphicon-remove(
        ng-click="remove(selected[category.id], category_item.id, $index)"
        ng-if="selected[category.id][$index]"
        style="zoom: .5; cursor: pointer; color: red")

      ul ng-include="branchTemplate" ng-repeat="category in find_by_id(category.children, selected[category.id][$index]).children"
