form.b-category-selector.well name="form"
  h4 Категории
  ul.form-group ng-include="branchTemplate" ng-repeat="category in filter_forbidden(tree)"
  .form-group ng-if="::action"
    br
    button.btn.btn-success.btn-block.btn-sm ng-disabled="$root.disabledCreateDocument" ng-click="update()" Сохранить изменения
