.b-users
  .not-found
    text-align: center
    font-size: 18px
    padding: 20px
  
  .edit
    .glyphicon
      cursor: pointer
      color: #449d44

  .id
    width: 50px
    text-align: right

  .status, .autopay
    width: 30px
    text-align: center
    vertical-align: middle

  .glyphicon
    color: #377bb5

  .created_at
    width: 120px

  .phone
    width: 150px

  td.created_at
    font-size: 12px

  .login
    width: 120px

  .email
    font-size: 12px

  .other
    width: 350px
