table.table.table-stripped.table-hover.small
  thead
    tr
      th.id №
      th Статус
      th.created_at Дата
      th.phone Тел.
      th.login Оператор
      th
        | ФИО
        a.btn.btn-primary.btn-xs.pull-right ui-sref="{{ newUserLink }}" Создать пользователя
      th
  tbody
    tr.user ng-class="{ success: 'confirmed' == user.status, danger: blocked(user) }" ng-if="users.length" ng-repeat="user in users"
      td.id {{ ::user.id }}
      td.status
        span.glyphicon class="glyphicon-{{ ::status_icon(user) }}" title="{{ ::user.status }}"
      td.created_at ng-bind=":: user.created_at | amDateFormat:'YYYY-MM-DD HH:mm'"
      td.phone {{ ::user.msisdn }}
      td.login
        .label.label-success ng-bind="::user.operator"
      td
        strong {{ ::user.first_name }} {{ ::user.last_name }}
      td.edit
        .glyphicon.glyphicon-edit ui-sref="{{ editUserLink }}({ id: user.id })"

    tr ng-if="!users.length"
      td.not-found colspan="8"
        | Пользователи не найдены.
