table.b-users.table.table-stripped.table-hover.small
  thead
    tr
      th.id #
      th Дата
      th ФИО
      th Метод
      th Статус
      th Цена
      th Период
      th Продукт
      th Начало
      th Конец
      th SLX
      th Autopay
      th Льгота
      th
  tr.user ng-class="{ success: 'оплачен' == order.status_title, danger: 'отменен' == order.status_title }" ng-if="orders.length" ng-repeat="order in orders track by $index"
    td {{ ::order.id }}
    td {{ ::order.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    td {{ ::order.user_name }}
    td
      span.label.label-success {{ ::localize('methods', order.paymethod_title) }}
    td
      span.label.label-info {{ ::localize('states', order.status_title) }}
    td
      strong  {{ ::order.price }}
    td {{ ::localize('periods', order.period_title) }}
    td {{ ::order.product_title }} | {{ ::order.subproduct_title }}
    td {{ ::order.start_date | amDateFormat: 'YYYY-MM-DD' }}
    td {{ ::order.end_date | amDateFormat: 'YYYY-MM-DD' }}
    td
      span.glyphicon class="glyphicon-{{ ::slx_icon(order) }}"
    td
      span.glyphicon class="glyphicon-{{ ::autopay_icon(order) }}"
    td
      span.glyphicon.glyphicon-ok ng-show="order.price.student"
    td
      span.glyphicon.glyphicon-edit ui-sref="logged.payments.edit({ id: order.id })"
  tr ng-if="!orders.length"
    td.not-found colspan="7"
      | Заказы не найдены.
