.page-header
  h1
    a ui-sref="logged.users.list" &larr;
    | Пользователь «{{ user_state.user.nickname }}»
  div ng-include="formTemplate"
.row
  .col-md-12
    .b-users ng-include="ordersTemplate" ng-repeat="orders in [new_orders]"
