form.row name="form" ng-submit="create_or_update(user)"
  .col-md-6
    .form-group
      label Имя
      input.form-control ng-model="user.first_name" type="text"
    .form-group
      label Фамилия
      input.form-control ng-model="user.last_name" type="text"
    .form-group
      label Эл. почта
      input.form-control ng-model="user.email" type="text"
    .form-group
      label Логин
      input.form-control ng-model="user.nickname" type="text"
    .form-group style="margin-top: 40px"
      button.btn.btn-primary Сохранить
      span.btn.btn-danger.pull-right ng-click="destroy(user)"  Удалить
  .col-md-6
    .form-group
      label Компания
      input.form-control ng-model="user.company" type="text"
    .form-group
      label Телефон
      input.form-control ng-model="user.phone" type="text"
    .form-group
      label Статус
      select.form-control ng-model="user.status" ng-options="status.label as status.title for status in statuses"
    .form-group
      label День рождения
      input.form-control ng-model="user.birthday" type="text"
    .checkbox
      label
        input ng-disabled="true != user.autopay" ng-model="user.autopay" type="checkbox"
        | &nbsp;autopay
    h3 Способы авторизации
    div ng-if="!accounts.length" Способы авторизации не найдены.
    ul ng-if="accounts.length"
      li ng-repeat="account in accounts" {{ account.type }}
