.page-header
  h1
    span ng-if="type == 'users'" Пользователи, {{ stat.users }}
    span ng-if="type == 'users.mobile'" Мобильные пользователи, {{ stat.users }}
form name="form"
  .form-group.form-inline
    .row
      .col-md-1
        label Статус &nbsp;
      .col-md-1
        select.form-control ng-model="filter.status" ng-options="status.label as status.title for status in states"
          option value="" любой
  .form-group.form-inline
    .row
      .col-md-1
        label Период &nbsp;
      .col-md-1
        input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true"ng-model="filter.date_from" placeholder="начало" type="text" uib-datepicker-popup=""
      .col-md-1
        input.form-control.input-sm.to is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" placeholder="конец" type="text" uib-datepicker-popup=""
  .form-group
    .input-group
      input.form-control ng-model="search_value" placeholder="всё, что вы хотите знать о пользователе" type="text"
      .input-group-btn
        button.btn.btn-success ng-click="go(search_value)" Найти
        button.btn.btn-default ng-click="reset()" Очистить
br
.text-center ng-show="stat.users > per_page"
  uib-pagination boundary-links="true" items-per-page="{{ per_page }}" max-size="5" ng-change="to_page()" ng-model="current_page" total-items="stat.users"
.b-users ng-include="usersTemplate"
