form.row name="form" ng-submit="create_or_update(user)"
  .col-md-6
    .form-group
      label Имя
      input.form-control ng-model="user.first_name" type="text"
    .form-group
      label Фамилия
      input.form-control ng-model="user.last_name" type="text"
    .form-group
      label Телефон
      input.form-control ng-model="user.msisdn" type="text"
    .form-group style="margin-top: 40px"
      button.btn.btn-primary Сохранить
      span.btn.btn-danger.pull-right ng-click="destroy(user)"  Удалить
  .col-md-6
    .form-group
      label Статус
      select.form-control ng-model="user.status" ng-options="status.label as status.title for status in statuses"
    .form-group
      label Оператор
      input.form-control ng-model="user.operator" type="text"
    / h3 Способы авторизации
    / div ng-if="!accounts.length" Способы авторизации не найдены.
    / ul ng-if="accounts.length"
    /   li ng-repeat="account in accounts" {{ account.type }}
