<form action="false" class="b-publisher" name="form" ng-show="document.published">
  <div class="form-group">
    <input class="form-control" ng-model="document.published_at" />
  </div>
  <div class="form-group">
    <span class="btn btn-primary" ng-click="change_datetime(document)" ng-hide="form.$pristine">Сохранить дату</span>
  </div>
</form>