<div class="b-assigner">
  <h4>
    Ответственный редактор
  </h4>
  <form>
    <div class="form-group">
      <select class="form-control" ng-change="update(document.assigned_editor_id)" ng-model="document.assigned_editor_id" ng-options="editor.id as editor.full_name group by group_from(editor) for editor in editors">
        <option value="">
          — редактор —
        </option>
      </select>
    </div>
    <div class="form-group" ng-if="document.assignee_status == &#39;enabled&#39;">
      <span class="btn btn-success btn-xs" ng-click="update_status()">Закончить редактирование</span>
    </div>
  </form>
</div>