<div class="modal-header">
  <h3 class="modal-title">
    Сохранение редактора
  </h3>
</div>
<div class="modal-body">
  Редактор неактивен. Вы уверены, что хотите передать ему документ?
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">ОК</button><button class="btn btn-warning" ng-click="close()">Отменить</button>
</div>