<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Справочники
        </h1>
      </div>
      <ul>
        <li ng-repeat="directory in directories">
          <a ui-sref="logged.directories.show({ id: directory.type })">{{ directory.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>