<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          <a ui-sref="logged.directories.list">&larr;</a>&nbsp;<span>Редактирование справочника «{{ directory_slug }}»</span>
        </h1>
      </div>
      <ul as-sortable="sortable_handlers" class="list-group" ng-model="directory">
        <li as-sortable-item="" class="list-group-item" ng-repeat="item in directory">
          <div ng-if="!item.edit">
            <div as-sortable-item-handle="" class="glyphicon glyphicon-sort"></div>
            &nbsp;{{ item[current_directory_type.attributes[0]] }}<span class="pull-right glyphicon glyphicon-edit" ng-click="edit(item)"></span>
          </div>
          <div ng-if="item.edit">
            <form name="form" ng-submit="update(item)">
              <div class="form-group" ng-repeat="control in current_directory_type.attributes">
                <label>{{ control }}</label><input class="form-control" name="{{ control }}" ng-model="item[control]" placeholder="{{ control }}" type="text" />
              </div>
              <button class="btn btn-primary" ng-disabled="form.$pristine &amp;&amp; !form_create.$valid">Сохранить</button><span class="btn btn-warning pull-right" ng-click="item.edit = false">Отмена</span>
            </form>
          </div>
        </li>
      </ul>
      <div class="panel panel-success">
        <div class="panel-heading">
          Новый элемент
        </div>
        <div class="panel-body">
          <form name="form_create" ng-submit="create(current_item)">
            <div class="form-group" ng-repeat="control in current_directory_type.attributes">
              <label>{{ control }}</label><input class="form-control" name="{{ control }}" ng-model="current_item[control]" placeholder="{{ control }}" required="" type="text" />
            </div>
            <button class="btn btn-primary" ng-disabled="form_create.$pristine &amp;&amp; !form_create.$valid">Создать</button><span class="btn btn-warning pull-right" ng-click="reset()" ng-if="!form_create.$pristine">Очистить</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>