.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav
      li(ng-class="{ active: active_link('sandboxes') }" ng-hide="auth.isSubscription()")
        a(ui-sref='logged.sandboxes.list') Песочница
      li(ng-class="{ active: active_link('pages') }" ng-hide="auth.isCommers() || auth.isSubscription()")
        a(ui-sref='logged.pages.list') Страницы
      li(ng-class="{ active: active_link('documents') }" ng-hide="auth.isSubscription()")
        a(ui-sref='logged.documents.new') Новый документ
      li(ng-class="{ active: active_link('import') }" ng-hide="auth.isCommers() || auth.isSubscription()")
        a(ui-sref='logged.import.list') Импорт
      li(ng-class="{ active: active_link('redlines') }" ng-hide="auth.isCommers() || auth.isSubscription()")
        a(ui-sref='logged.redlines.list') Красные строки
      li(ng-class="{ active: active_link('payments/export') }" ng-hide="auth.isCommers() || auth.isEditor()")
        a(ui-sref="logged.payments.export") Экспорт платежей
      li.dropdown(uib-dropdown="")
        a.dropdown-toggle(href='#' uib-dropdown-toggle="")
          | Отчеты
          span.caret
        ul.dropdown-menu
          li(ng-class="{ active: active_link('/reports') }" ng-hide="auth.isCommers()")
            a(ui-sref='logged.reports.list') Статистика
          li(ng-class="{ active: active_link('inline_reports') }")
            a(ui-sref='logged.inline_reports.list') Отчет по авторам заметок за период

      li.dropdown(uib-dropdown="" ng-hide="auth.isEditor()")
        a.dropdown-toggle(href='#' uib-dropdown-toggle="")
          | Рассылки
          span.caret
        ul.dropdown-menu
          li(ng-class="{ active: active_link('mailings/list') }")
            a(ui-sref='logged.mailings.list') Шаблоны
          li(ng-class="{ active: active_link('banners') }")
            a(ui-sref='logged.banners.list') Баннеры
          li(ng-class="{ active: active_link('creator') }")
            a(ui-sref="logged.creator({id: ''})") Конструктор
          li(ng-class="{ active: active_link('messages') }")
            a(ui-sref='logged.mailings.messages') Диагностические сообщения

      li(ng-class="{ active: active_link('users') }" ng-show="auth.isEditor()")
        a(ui-sref='logged.users.list') Пользователи

      li.dropdown(uib-dropdown="" ng-hide="auth.isEditor() || auth.isCommers()")
        a.dropdown-toggle(href="#" uib-dropdown-toggle="")
          | Подписки
          span.caret
        ul.dropdown-menu
          li(ng-class="{ active: active_link('/users/list') }")
            a(ui-sref='logged.users.list') Пользователи
          li(ng-class="{ active: active_link('/users/mobile') }")
            a(ui-sref='logged.users.mobile.list') Мобильные пользователи
          li(ng-class="{ active: active_link('/payments/list') }")
            a(ui-sref='logged.payments.list') Новые подписки
          li(ng-class="{ active: active_link('subscription') }")
            a(ui-sref='logged.subscription.list') Старые подписки
          li(ng-class="{ active: active_link('/payments/mobile') }")
            a(ui-sref='logged.payments.mobile.list') Мобильные подписки
          li(ng-class="{ active: active_link('prices') }")
            a(ui-sref='logged.prices.list') Варианты подписки
          li(ng-class="{ active: active_link('payments/massive') }")
            a(ui-sref='logged.payments.massive') Массовые подписки
          li(ng-class="{ active: active_link('cities') }")
            a(ui-sref="logged.cities.list") Города

      li.dropdown(uib-dropdown="" ng-hide="auth.isCommers() || auth.isSubscription()")
        a.dropdown-toggle(href='#' uib-dropdown-toggle="")
          | Остальное
          span.caret
        ul.dropdown-menu
          li(ng-class="{ active: active_link('directories') }")
            a(ui-sref="logged.directories.list") Справочники
          li(ng-class="{ active: active_link('categories') }")
            a(ui-sref='logged.categories.edit') Категории
          li(ng-class="{ active: active_link('contacts') }")
            a(ui-sref='logged.contacts.list') Контакты
          li(ng-class="{ active: active_link('accesses') }")
            a(ui-sref='logged.accesses.list') Статистика

      li.dropdown(uib-dropdown="" ng-show="auth.isAdmin()")
        a.dropdown-toggle(href='#' uib-dropdown-toggle="")
          | Пользователи
          span.caret
        ul.dropdown-menu
          li(ng-class="{ active: active_link('editors') }")
            a(ui-sref='logged.editors.list') Редакторы
          li(ng-class="{ active: active_link('groups') }")
            a(ui-sref='logged.groups.list') Группы

    ul.nav.navbar-nav.navbar-right
      li(ng-class="{ active: active_link('search') }" ng-hide="auth.isSubscription()")
        a.glyphicon.glyphicon-search(ui-sref='logged.search({ page: 1})')
      li: a(rm-editor-name="")
      / li: a{ng-show='::development()' ng-click='::toggle_stats()'}
      /   .glyphicon.glyphicon-stats
      li: a(ui-sref='logged.logout') Выйти

    span(ui-view='editor')

.container-fluid(ui-view='content')
