<div class="row">
  <div class="col-md-12">
    <h1>
      Вопросы &nbsp;
      <button class="btn btn-xs btn-primary" ng-click="addQuestionTop()">+ Добавить вопрос</button>
    </h1>
    <ul as-sortable="" class="list-group" ng-model="box.json.questions">
      <li as-sortable-item="" class="list-group-item" ng-repeat="question in box.json.questions track by $id(question)" style="margin-bottom: 20px;">
        <div as-sortable-item-handle="" class="glyphicon glyphicon-sort pull-right"></div>
        <div class="form-group">
          <span class="label label-primary">№: {{ $index + 1 }}</span>&nbsp;
          <button class="btn btn-danger btn-xs" ng-click="removeQuestion($index)">- Удалить вопрос</button>
          <button class="btn btn-link pull-right" ng-click="question.isQuestionVisible = false" ng-show="question.isQuestionVisible" type="button">Скрыть вопрос</button>
          <button class="btn btn-link pull-right" ng-click="question.isQuestionVisible = true" ng-show="!question.isQuestionVisible" type="button">Показать вопрос</button>
          <h4>{{ question.title }}</h4>
        </div>
        <div class="question-content" ng-show="question.isQuestionVisible">
          <div class="form-group field-counter-wrapper" ng-class='{"has-error": !question.title && highlightInput}'>
            <label class="required">Текст вопроса</label>
            <rm-field-counter max="180" min="1" value="question.title"></rm-field-counter>
            <textarea class="form-control input-lg" ng-blur="saveQuestion()" ng-model="question.title" placeholder="Текст вопроса"></textarea>
            <span class="help-block">До 180 знаков с пробелами</span>
          </div>
          <div class="form-group field-counter-wrapper" ng-class="{'has-error': highlightInput && !question.righttext}">
            <label class="required">Текст при правильном ответе</label>
            <rm-field-counter max="130" min="1" value="question.righttext"></rm-field-counter>
            <textarea class="form-control" ng-blur="saveQuestion()" ng-model="question.righttext" placeholder="Текст при правильном ответе"></textarea>
            <span class="help-block">До 130 знаков с пробелами</span>
          </div>
          <div class="form-group field-counter-wrapper" ng-class="{'has-error': highlightInput && !question.wrongtext}">
            <label class="required">Текст при неправильном ответе</label>
            <rm-field-counter max="130" min="1" value="question.wrongtext"></rm-field-counter>
            <textarea class="form-control" ng-blur="saveQuestion()" ng-model="question.wrongtext" placeholder="Текст при неправильном ответе"></textarea>
            <span class="help-block">До 130 знаков с пробелами</span>
          </div>
          <rm-uploader document="document" objforsave="question.image" type="image" versions='{"default": "570x380>", "mobile_high": "960x640>"}'></rm-uploader>
          <br />
          <h3>
            Варианты &nbsp;
            <button class="btn btn-xs btn-primary" ng-click="addVariantTop(question.choices)">+ Добавить вариант</button>&nbsp;
            <div class="btn-group">
              <label class="btn btn-default btn-xs" ng-model="question.type" uib-btn-radio="&#39;images&#39;">С картинками</label>
              <label class="btn btn-default btn-xs" ng-model="question.type" uib-btn-radio="&#39;list&#39;">Без картинок</label>
              <label class="btn btn-default btn-xs" ng-model="question.type" uib-btn-radio="&#39;grid&#39;">Сетка</label>
            </div>
            <button class="btn btn-link pull-right" ng-click="isVariantsVisible = false" ng-show="question.choices.length &amp;&amp; isVariantsVisible" type="button">Скрыть варианты</button>
            <button class="btn btn-link pull-right" ng-click="isVariantsVisible = true" ng-show="question.choices.length &amp;&amp; !isVariantsVisible" type="button">Показать варианты</button>
          </h3>
          <ul class="list-group" ng-show="isVariantsVisible">
            <li class="list-group-item list-group-item-info" ng-repeat="variant in question.choices track by $index">
              <div class="form-group">
                <span class="label label-primary">№: {{ $index + 1 }}</span>&nbsp;
                <button class="btn btn-danger btn-xs" ng-click="removeVariant($index, question.choices)">- Удалить вариант</button>
              </div>
              <div class="form-group field-counter-wrapper">
                <label>Текст</label>
                <rm-field-counter max="question.type == &quot;grid&quot; ? 18 : 1000" min="1" value="variant.text"></rm-field-counter>
                <input class="form-control input-sm" ng-model="variant.text" placeholder="Текст" type="text" />
                <span class="help-block" ng-if="question.type == &#39;grid&#39;">До 18 знаков с пробелами</span>
                <span class="help-block" ng-if="question.type != &#39;grid&#39;">Сколько угодно знаков</span>
              </div>
              <div class="form-group">
                <label>Вес</label>
                <input class="form-control input-sm" ng-model="variant.weight" placeholder="Вес" type="number" />
              </div>
              <div ng-show="question.type == &#39;images&#39;">
                <rm-uploader document="document" objforsave="variant.image" type="image" versions="{&quot;default&quot;: &quot;570x380&gt;&quot;, &quot;mobile_high&quot;: &quot;960x640&gt;&quot;}"></rm-uploader>
              </div>
            </li>
          </ul>
          <button class="btn btn-xs btn-primary" ng-click="addVariantBottom(question.choices)" ng-hide="!question.choices.length">+ Добавить вариант</button>
          <button class="btn btn-link" ng-click="question.isQuestionVisible = false" ng-show="question.isQuestionVisible" type="button">Скрыть вопрос</button>
        </div>
      </li>
    </ul>
    <button class="btn btn-xs btn-primary" ng-click="addQuestionBottom()" ng-hide="!box.json.questions.length">
      + Добавить вопрос
    </button>
    <br />
    <br />
    <h1>
      Результаты &nbsp;<button class="btn btn-xs btn-primary" ng-click="addResultTop()">+ Добавить результат</button>&nbsp;<small>Максимальный вес: {{ getMaxWeight() }}</small>
    </h1>
    <ul class="list-group">
      <li class="list-group-item list-group-item-success" ng-repeat="result in box.json.results track by $index" style="margin-bottom: 20px;">
        <div class="form-group">
          <span class="label label-primary">№: {{ $index + 1 }}</span>&nbsp;
          <button class="btn btn-danger btn-xs" ng-click="removeResult($index)">- Удалить результат</button>
          <button class="btn btn-link pull-right" ng-click="isResultVisible = false" ng-show="isResultVisible" type="button">Скрыть результат</button>
          <button class="btn btn-link pull-right" ng-click="isResultVisible = true" ng-show="!isResultVisible" type="button">Показать результат</button>
          &nbsp;
          <small>Вес: {{ result.min_weight }} - {{ result.max_weight }}</small>
        </div>
        <h4>
          {{ result.text }}
        </h4>
        <div class="result-content" ng-show="isResultVisible">
          <div class="form-group field-counter-wrapper" ng-class="{'has-error': highlightInput && !result.text}">
            <label class="required">Сообщение о результате</label>
            <rm-field-counter max="150" min="1" value="result.text"></rm-field-counter>
            <textarea class="form-control" ng-blur="saveQuestion()" ng-model="result.text" placeholder="Текст"></textarea>
            <span class="help-block">До 150 знаков с пробелами</span>
          </div>
          <div class="form-group" ng-class="{'has-error': highlightInput && (!result.min_weight || !result.max_weight)}">
            <div class="row">
              <div class="col-md-6">
                <label class="required">Минимальный вес</label>
                <input class="form-control" ng-model="result.min_weight" placeholder="Min. вес" type="number" />
              </div>
              <div class="col-md-6">
                <label class="required">Максимальный вес</label>
                <input class="form-control" ng-model="result.max_weight" placeholder="Max. вес" type="number" />
              </div>
            </div>
          </div>
          <div class="form-group field-counter-wrapper">
            <label>Заголовок шаринга</label>
            <rm-field-counter max="75" min="1" value="result.sharing_title"></rm-field-counter>
            <input class="form-control" ng-model="result.sharing_title" placeholder="Заголовок шаринга" type="text" />
          </div>
          <div class="form-group field-counter-wrapper">
            <label>Текст шаринга</label>
            <rm-field-counter max="75" min="1" value="result.sharing_text"></rm-field-counter>
            <textarea class="form-control" ng-blur="saveQuestion()" ng-model="result.sharing_text" placeholder="Текст шаринга" type="text"></textarea>
          </div>
          <div class="form-group">
            <rm-uploader document="document" objforsave="result.image" type="image" versions="{&quot;default&quot;: &quot;570x380&gt;&quot;, &quot;mobile_high&quot;: &quot;960x640&gt;&quot;}"></rm-uploader>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn btn-xs btn-primary" ng-show="box.json.results.length" ng-click="addResultBottom()">+ Добавить результат</button>
    <br />
    <br />
    <div>
      <button class="btn btn-success" ng-click="saveQuestion()">Сохранить тест</button>
    </div>
  </div>
</div>
