.b-sandboxes

  .time
    width: 70px
    font-size: 12px
    text-align: right

  .number
    width: 40px
    text-align: right
    vertical-align: middle
    font-size: 16px

  li.active
    a
      background-color: white !important

  .empty
    padding: 100px 0px
    font-size: 18px
    text-align: center

  .nav-tabs
    font-size: 12px

  .published
    text-align: center
    width: 40px
    vertical-align: middle

  .gray
    color: #919191
    font-size: 11px

  .green
    color: #5cb85c

  .panel
    margin-top: 10px

  .search
    margin-top: 10px

  table
    a
      font-size: 16px

  .label-info
    opacity: 0.4

  tr:hover
    .label-info
      opacity: 1
