.panel.panel-success
  .panel-heading
    | Редактирование фильтра
    a.btn.btn-default.btn-xs.pull-right ui-sref=("logged.sandboxes.show({ id: sandbox.id})")  К списку документов
  .panel-body
    form.edit name="form" ng-submit="update_sandbox(sandbox)" 
      .row
        .col-md-6
          h3
            | Общие данные
          .form-group
            label Цвет списка
            input.form-control.input-lg colorpicker="" ng-model="sandbox.color" type="text" /
          .form-group
            label Название
            input.form-control.input-lg ng-model="sandbox.title" type="text" /
          rm-owner-selector document="sandbox" key="owner_ids" title="Владельцы" 
        .col-md-6
          h3
            | Фильтры
          label ng-if="!sandbox.disable_base_date"  Дата начала/Дата конца
          label ng-if="sandbox.disable_base_date"  Интервал в секундах
          .form-group
            input ng-change="toggle_base_date(sandbox)" ng-model="sandbox.disable_base_date" type="checkbox" /
            | \&nbsp;текущий момент
            .form-inline ng-if="!sandbox.disable_base_date" 
              input.form-control ng-change="set_offset(sandbox)" ng-model="sandbox.base_date" type="date" >/
              | —
              input.form-control ng-change="set_offset(sandbox)" ng-model="sandbox.offset_date" type="date" /
            .form-inline ng-if="sandbox.disable_base_date" 
              input.form-control ng-model="sandbox.date_offset" type="input" /
          rm-owner-selector document="sandbox" key="participant_ids" title="Пользователи" 
          .form-group
            h3
              | Включаемые категории
            rm-categories-selector2 action="false" categories="sandbox.category_ids" rm-loader="" 
          .form-group
            h3
              | Исключаемые категории
            rm-categories-selector2 action="false" categories="sandbox.category_ids" exclude="true" rm-loader="" 
          .form-group
            span.btn.btn-primary.btn-sm ng-click="toggle_published(sandbox)"  Учитывать статус публикации?
            div ng-if="sandbox.published_status" 
              input ng-model="sandbox.published" type="checkbox" /
              label &nbsp;опубликовано
          .form-group.clearfix
            button.btn.btn-primary Сохранить изменения в фильтре
            a.btn.btn-danger.fright href="#" ng-click='delete_sandbox(sandbox)' Удалить
