<div class="row">
  <div class="col-md-12 b-sandboxes">
    <ul class="nav nav-tabs">
      <li ng-class="{ active: sandbox.active }" ng-repeat="sandbox in ::sandboxes | orderBy:[&#39;title&#39;] track by sandbox.id">
        <a ui-sref="logged.sandboxes.show({ id: sandbox.id})"><span class="glyphicon glyphicon-list" style="color: {{ ::sandbox.color }}"></span>&nbsp;{{ ::sandbox.title }}</a>
      </li>
    </ul>
    <input class="form-control input-sm search" ng-model="filter" ng-show="documents.length" placeholder="быстрый поиск" type="search" />
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Документы из списка «{{ ::current_sandbox.title }}»&nbsp; Сортировать по: <select ng-change="sortDocuments(column)" ng-model="column" ng-options="value as key for (key, value) in orderParams">
            <option value="">
              --Выберите свойство--
            </option>
          </select>&nbsp; Порядок: <select ng-change="sortDocuments(direction)" ng-model="direction" ng-options="value as key for (key, value) in directionParams">
            <option value="">
              --Выберите направление--
            </option>
          </select>
        </h3>
      </div>
      <table class="table table-condenced table-hover" ng-if="documents.length">
        <tr ng-repeat="document in documents | filter:filter track by document.id">
          <td class="number">
            {{ $index + 1 }}
          </td>
          <td class="time">
            {{ (column == 'created_at' ? document.milestones.created.at : document.published_at) | amDateFormat: 'HH:mm DD&nbsp;MMM' }}
          </td>
          <td>
            <span class="glyphicon glyphicon-lock" style="color: #919191; margin-right: 3px" ng-show="::document.locked"></span>
            <a href="/documents/{{ ::document.id }}/edit">
              <span class="glyphicon glyphicon-picture" ng-show="::document.illustrated" style="margin-right: 3px"></span>
              {{ ::document.title }}
            </a>
            &nbsp;
            <span class="label label-info" ng-show="document.part">{{ document_kind(document.part) }}</span>
            <div class="addition clearfix">
              <span class="pull-left gray"> {{ ::categories(document.category_ids) }}</span><span class="label label-primary pull-right">{{ ::editor(document.assigned_editor_id) }}</span>
            </div>
          </td>
          <td class="published">
            <div class="glyphicon glyphicon-ok green" ng-hide="::!document.published" title="опубликован"></div>
          </td>
        </tr>
      </table>
      <div class="empty" ng-if="!documents.length">
        Нет документов.
      </div>
      <div class="panel-footer">
        <a class="btn btn-success btn-xs" ui-sref="logged.sandboxes.edit({ id: sandbox.id})">Настроить</a><button class="btn btn-primary btn-xs pull-right" ng-click="new_sandbox()">Новый список</button>
      </div>
    </div>
  </div>
</div>
