<div class="b-box" ng-class="{'bg-warning': status.isBoxChanged, 'bg-danger': status.isUnpublished}">
  <rm-box-header box="box" nested="nested" point="point"></rm-box-header>
  <div class="b-boxes-container" ng-if="!box.view_mode">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-warning btn-block" ng-click="generate()">Сгенерировать</button><br />
        <rm-dynamic-form action="false" document="box" settings="settings.boxes.newsrelease_archive"></rm-dynamic-form>
        <div class="controls-group">
          <button class="btn btn-success pull-right" ng-click="editor.update(box)">Сохранить все</button>
        </div>
      </div>
      <div class="col-md-8">
        <rm-box-nested box="box" point="point"></rm-box-nested>
        <rm-box-nested-selector box="box" point="point"></rm-box-nested-selector>
      </div>
    </div>
  </div>
</div>
