doctype html
html
  head
    title Monitor
    base href='/'
    = stylesheet_link_tag    'vendorscss', media: 'all'
    = stylesheet_link_tag    'stylesheets', media: 'all'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic-ext', media: 'all'
    / script{src="//dmc1acwvwny3.cloudfront.net/atatus.js"}
    meta charset="utf-8"
    meta property="fb:pages" content="184860593907"
    javascript:
      // atatus.config('90d61ceccc4b4d72b54f523affab07f7').install();
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  body{ng-app='app' rm-auth rm-page ng-cloak}

    rm-notify-messages
    .root{ui-view='main'}
    .popup-disabled

    - if production?
      = javascript_include_tag 'vendors', debug: false
      = javascript_include_tag 'app', debug: false
    - else
      = javascript_include_tag 'vendors', debug: true
      = javascript_include_tag 'app', debug: true
      script{src="http://localhost:35729/livereload.js"}
