doctype html
html
  head
    title Monitor
    base href='/'
    = stylesheet_link_tag    'vendorscss', media: 'all'
    = stylesheet_link_tag    'stylesheets', media: 'all'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext', media: 'all'
    meta property="fb:pages" content="184860593907"

  body{ng-app='app' rm-auth ng-cloak}
    .root{ui-view='main'}

    - if production?
      = javascript_include_tag 'vendors', debug: false
      = javascript_include_tag 'login', debug: false
    - else
      = javascript_include_tag 'vendors', debug: true
      = javascript_include_tag 'login', debug: true
    
