<div class="block-image">
  <label>Изображение</label>
  <div class="form-group">
    <img class="img-thumbnail" ng-if="block.image" ng-src="{{ attachments_host }}{{ block.image.url }}" /><span class="add-image" ngf-select="uploadImage($files)">+ Загрузить изображение</span>
  </div>
</div>