<div class="block-link">
  <label>Ссылка</label>
  <div class="form-group">
    <input class="form-control input" ng-model="block.url" placeholder="Url" type="text" />
  </div>
  <div class="form-group">
    <input class="form-control input" ng-model="block.text" placeholder="Текст" type="text" />
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label>Цвет ссылки &nbsp;</label>
      <input class="form-control" colorpicker type="text" style="width: 100px;" ng-init="block.color ? block.color : block.color = '#2e6f6f'" ng-model="block.color" />
    </div>
  </div>
</div>
