<div class="block-title">
  <label>Заголовок</label>
  <div class="form-group">
    <input autofocus="true" class="form-control input-lg" ng-model="block.title" placeholder="Заголовок" type="text" />
  </div>
</div>